flow.json
[{"id":"bace2e1e.f4fc8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a3492372.fb17c","type":"tab","label":"Buttons","disabled":false,"info":""},{"id":"a83b195e.5fb468","type":"tab","label":"HUE Remotes","disabled":false,"info":""},{"id":"6afdb4c3.b4193c","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"3a8efff1.55d72","type":"tab","label":"HA Sensors","disabled":false,"info":""},{"id":"8afe45b5.8f4f18","type":"tab","label":"Endpoints","disabled":false,"info":""},{"id":"fefae89d.151a98","type":"tab","label":"TG Rooms","disabled":false,"info":""},{"id":"f1aea30b.62b99","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5022a6bf.9db2c8","type":"tab","label":"Docker","disabled":false,"info":""},{"id":"dafc06f7.05ab18","type":"mqtt-broker","z":"","name":"Home Assistant MQTT","broker":"192.168.1.252","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c2825890.f6f8a8","type":"server","z":"bace2e1e.f4fc8","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"97936d20.42eb7","type":"kodi-controller","z":"bace2e1e.f4fc8","name":"BedroomShield - kodi","host":"192.168.1.100","port":"9090"},{"id":"2f58b8f5.63f6e8","type":"mqtt in","z":"a3492372.fb17c","name":"xrb_bedroom1","topic":"zigbee2mqtt/xrb_bedroom1","qos":"2","datatype":"auto","broker":"dafc06f7.05ab18","x":250,"y":240,"wires":[["ac69df20.1ba77"]]},{"id":"e1c676e.a1c1688","type":"mqtt in","z":"a3492372.fb17c","name":"xsb_bedroom1","topic":"zigbee2mqtt/xsb_bedroom1","qos":"2","datatype":"auto","broker":"dafc06f7.05ab18","x":160,"y":680,"wires":[["81f54990.3dac08"]]},{"id":"4f4544dc.b3d27c","type":"switch","z":"a3492372.fb17c","name":"Click Type","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"},{"t":"eq","v":"quadruple","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"release","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":1290,"y":80,"wires":[[],[],[],[],[],[]]},{"id":"d2710d26.7dab4","type":"mqtt in","z":"a3492372.fb17c","name":"xsb_bedroom2","topic":"zigbee2mqtt/xsb_bedroom2","qos":"2","datatype":"auto","broker":"dafc06f7.05ab18","x":160,"y":960,"wires":[["9cd2edbb.1b27"]]},{"id":"9a92b60f.b2cff8","type":"link out","z":"a3492372.fb17c","name":"xrb_double","links":["1d28300d.0b2ac"],"x":595,"y":180,"wires":[]},{"id":"e0772951.48f528","type":"link out","z":"a3492372.fb17c","name":"xrb_triple","links":["771973e1.7e314c"],"x":595,"y":220,"wires":[]},{"id":"cad5c560.95f918","type":"link out","z":"a3492372.fb17c","name":"xrb_quadruple","links":["5187633c.e04f4c"],"x":595,"y":260,"wires":[]},{"id":"28200405.ddda9c","type":"link out","z":"a3492372.fb17c","name":"xrb_many","links":["90bd5dc2.a3b48"],"x":595,"y":300,"wires":[]},{"id":"f7e6fdc.08412","type":"link out","z":"a3492372.fb17c","name":"xrb_single","links":["df52d756.e1efb8"],"x":595,"y":140,"wires":[]},{"id":"f1388bac.dcaf28","type":"comment","z":"a3492372.fb17c","name":"Bedside Toggle","info":"","x":700,"y":140,"wires":[]},{"id":"e3903c3b.c9be6","type":"comment","z":"a3492372.fb17c","name":"Master Bedroom Toggle","info":"","x":720,"y":180,"wires":[]},{"id":"91209307.7f3b6","type":"mqtt out","z":"8afe45b5.8f4f18","d":true,"name":"hue_bulb_master_bedroom","topic":"zigbee2mqtt/hue_bulb_master_bedroom/set","qos":"2","retain":"","broker":"dafc06f7.05ab18","x":1920,"y":120,"wires":[]},{"id":"22831ea1.448ea2","type":"mqtt out","z":"8afe45b5.8f4f18","name":"Fan","topic":"cmnd/sonoff_pow2_fan/POWER","qos":"0","retain":"false","broker":"dafc06f7.05ab18","x":1490,"y":140,"wires":[]},{"id":"2f044d3a.202e32","type":"change","z":"8afe45b5.8f4f18","name":"Toggle","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\": \"true\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":820,"wires":[["21ccafcb.a4548"]]},{"id":"8d149901.9a8408","type":"change","z":"8afe45b5.8f4f18","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":870,"wires":[["21ccafcb.a4548"]]},{"id":"5dde8800.3e2748","type":"change","z":"8afe45b5.8f4f18","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":770,"wires":[["21ccafcb.a4548"]]},{"id":"29eccbf3.238e24","type":"link in","z":"8afe45b5.8f4f18","name":"bedside_on","links":["db560b0f.492ac8"],"x":145,"y":770,"wires":[["5dde8800.3e2748"]]},{"id":"df52d756.e1efb8","type":"link in","z":"8afe45b5.8f4f18","name":"bedside_toggle","links":["1800a74c.718f59","41377bd9.4ff4b4","5c498372.9490dc","7c535bd6.87c6f4","f70ba7ae.fda478","f7e6fdc.08412","3aba1855.3e5458","54dade68.ab1408","4881a990.bfd168","eb51dcae.1d2d18","ebc64255.fc6c6","15049019.40db5","1ebfeb36.a9ddd5","9d15c174.a9649","d89e2ecd.901e7","1e13fca9.d6ac73","b59da13.717fb6","a870fe59.b4f7f"],"x":170,"y":820,"wires":[["2f044d3a.202e32"]]},{"id":"f3ff920a.8febf","type":"link in","z":"8afe45b5.8f4f18","name":"bedside_off","links":["41cc8501.f3ec8c","2eb44519.4701da","724eaf65.fa3c88","e5980f14.001a4","61c3e8f6.05f848","9ada4a16.595da8","bdeca5fc.0bdd18","ddbd9d56.30c8b","6397b2c7.56813c"],"x":145,"y":870,"wires":[["8d149901.9a8408"]]},{"id":"a4942b3f.7fa758","type":"change","z":"8afe45b5.8f4f18","name":"Toggle","rules":[{"t":"set","p":"payload","pt":"msg","to":"switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":340,"wires":[["5e616f57.f28c5","92b51e9a.975ac"]]},{"id":"24da4699.4cde9a","type":"change","z":"8afe45b5.8f4f18","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":265,"y":390,"wires":[["5e616f57.f28c5","92b51e9a.975ac"]]},{"id":"d999c6b3.d63ca8","type":"change","z":"8afe45b5.8f4f18","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":265,"y":290,"wires":[["5e616f57.f28c5","92b51e9a.975ac"]]},{"id":"e7179e34.c1a97","type":"change","z":"8afe45b5.8f4f18","name":"Toggle","rules":[{"t":"set","p":"payload","pt":"msg","to":"TOGGLE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":140,"wires":[["22831ea1.448ea2"]]},{"id":"c40f01f5.3e7d1","type":"change","z":"8afe45b5.8f4f18","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1315,"y":190,"wires":[["22831ea1.448ea2"]]},{"id":"ddef97fe.104368","type":"change","z":"8afe45b5.8f4f18","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1315,"y":90,"wires":[["22831ea1.448ea2"]]},{"id":"3c65444b.cf57bc","type":"link in","z":"8afe45b5.8f4f18","name":"tplink_master_bedroom_on","links":["6b6eb3fc.1c1d9c"],"x":155,"y":290,"wires":[["d999c6b3.d63ca8"]]},{"id":"c2813dc.39392c","type":"link in","z":"8afe45b5.8f4f18","name":"tplink_master_bedroom_toggle","links":["776cd7a0.f8cb58","b47574e6.598388","bc778c2e.c6c3f","6b7f797a.b83df8"],"x":180,"y":340,"wires":[["a4942b3f.7fa758"]]},{"id":"7af40e95.f78e3","type":"link in","z":"8afe45b5.8f4f18","name":"tplink_master_bedroom_off","links":["8dca6772.28d098","e136bd0c.3f031"],"x":155,"y":390,"wires":[["24da4699.4cde9a"]]},{"id":"9044d9cd.a1bb08","type":"link in","z":"8afe45b5.8f4f18","name":"fan_on","links":[],"x":1205,"y":90,"wires":[["ddef97fe.104368"]]},{"id":"8d95cece.bd44","type":"link in","z":"8afe45b5.8f4f18","name":"fan_toggle","links":["683cea35.d2ee54","6a27ca17.fdc7b4","8221cabf.c8e198","ceb423c8.cd642","d6959c49.d6e48","770668e2.266328","3a402d73.b9ad92","2acc1922.045ff6","48ff7a96.877794"],"x":1230,"y":140,"wires":[["e7179e34.c1a97"]]},{"id":"8bda012c.8a57c","type":"link in","z":"8afe45b5.8f4f18","name":"fan_off","links":[],"x":1205,"y":190,"wires":[["c40f01f5.3e7d1"]]},{"id":"89cd411f.7b4eb","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_up-press","links":["771973e1.7e314c"],"x":535,"y":160,"wires":[]},{"id":"48ff7a96.877794","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_down-press","links":["8d95cece.bd44"],"x":535,"y":200,"wires":[]},{"id":"ebc64255.fc6c6","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_off-press","links":["df52d756.e1efb8"],"x":535,"y":240,"wires":[]},{"id":"976a5a69.0efbb8","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_on-press","links":["1d28300d.0b2ac"],"x":535,"y":120,"wires":[]},{"id":"e314f9.9d824b08","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_up-hold","links":[],"x":535,"y":380,"wires":[]},{"id":"3e6d3354.89fecc","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_down-hold","links":[],"x":535,"y":420,"wires":[]},{"id":"58d562cd.5ddeec","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_off-hold","links":[],"x":535,"y":460,"wires":[]},{"id":"9b85d7fa.dfe478","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_on-hold","links":[],"x":535,"y":340,"wires":[]},{"id":"6839ef57.6a3de","type":"mqtt in","z":"a83b195e.5fb468","name":"hue_remote_master_bedroom","topic":"zigbee2mqtt/hue_remote_master_bedroom","qos":"2","datatype":"auto","broker":"dafc06f7.05ab18","x":140,"y":400,"wires":[["c90312d2.20294","b621fc8d.d19b6","d33ef57b.8d4ae8"]]},{"id":"c2a26862.79afa8","type":"comment","z":"a83b195e.5fb468","name":"Bedside Toggle","info":"","x":640,"y":240,"wires":[]},{"id":"4f8b1fca.d20fe","type":"comment","z":"a83b195e.5fb468","name":"Master Bedroom Toggle","info":"","x":660,"y":120,"wires":[]},{"id":"4e513d87.a1c814","type":"comment","z":"a83b195e.5fb468","name":"Fan Toggle","info":"","x":620,"y":200,"wires":[]},{"id":"5f0128be.5712e8","type":"mqtt in","z":"6afdb4c3.b4193c","name":"xds_bedroom","topic":"zigbee2mqtt/xds_bedroom","qos":"2","datatype":"auto","broker":"dafc06f7.05ab18","x":130,"y":1700,"wires":[["9ae51f17.cf2"]]},{"id":"9ae51f17.cf2","type":"json","z":"6afdb4c3.b4193c","name":"","property":"payload","action":"","pretty":false,"x":285,"y":1700,"wires":[["c482194.4ca1ae8"]]},{"id":"c482194.4ca1ae8","type":"switch","z":"6afdb4c3.b4193c","name":"Contact","property":"payload.contact","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"},{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":1700,"wires":[["8b4d6d0c.632a5"],["1cea2722.41d5b9"]]},{"id":"6b6eb3fc.1c1d9c","type":"link out","z":"6afdb4c3.b4193c","name":"xds_bedroom_open","links":["3c65444b.cf57bc"],"x":900,"y":1675,"wires":[]},{"id":"e136bd0c.3f031","type":"link out","z":"6afdb4c3.b4193c","name":"xds_bedroom_closed","links":["7af40e95.f78e3"],"x":900,"y":1725,"wires":[]},{"id":"b1343e77.27b6e","type":"comment","z":"6afdb4c3.b4193c","name":"Master Bedroom Off","info":"","x":1025,"y":1725,"wires":[]},{"id":"5ca05019.e9564","type":"comment","z":"6afdb4c3.b4193c","name":"Master Bedroom On","info":"","x":1025,"y":1675,"wires":[]},{"id":"8fafb0c4.e7a13","type":"function","z":"6afdb4c3.b4193c","name":"Set Var \"0900to1715\"","func":"global.set(\"0900to1715\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1995,"wires":[["e2675963.297d98"]]},{"id":"dc4d321e.a9299","type":"mqtt out","z":"6afdb4c3.b4193c","name":"MQTT 0900to1715","topic":"nodered/var/0900to1715","qos":"0","retain":"","broker":"dafc06f7.05ab18","x":310,"y":1945,"wires":[]},{"id":"e2675963.297d98","type":"debug","z":"6afdb4c3.b4193c","name":"Var Set To","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":1995,"wires":[]},{"id":"9b20270.273a6d8","type":"mqtt in","z":"6afdb4c3.b4193c","name":"MQTT Set To","topic":"nodered/var/0900to1715","qos":"2","datatype":"auto","broker":"dafc06f7.05ab18","x":515,"y":1945,"wires":[["70853da.b3f21c4"]]},{"id":"70853da.b3f21c4","type":"debug","z":"6afdb4c3.b4193c","name":"Var Set To","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":1945,"wires":[]},{"id":"8b4d6d0c.632a5","type":"function","z":"6afdb4c3.b4193c","name":"Check Time \"0900to1715\"","func":"var getvar = global.get(\"0900to1715\");\nmsg.payload = getvar;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1675,"wires":[["275d3dd3.1ee9a2"]]},{"id":"1cea2722.41d5b9","type":"function","z":"6afdb4c3.b4193c","name":"Check Time \"0900to1715\"","func":"var getvar = global.get(\"0900to1715\");\nmsg.payload = getvar;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1725,"wires":[["d2945e8a.942a8"]]},{"id":"d2945e8a.942a8","type":"switch","z":"6afdb4c3.b4193c","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":1725,"wires":[["e136bd0c.3f031"],[]]},{"id":"275d3dd3.1ee9a2","type":"switch","z":"6afdb4c3.b4193c","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":1675,"wires":[["6b6eb3fc.1c1d9c"],[]]},{"id":"5e616f57.f28c5","type":"smart-bulb","z":"8afe45b5.8f4f18","d":true,"name":"tplink_master_bedroom_KL50(UN)","device":"192.168.1.212","interval":"10000","eventInterval":1000,"x":740,"y":340,"wires":[[]]},{"id":"d5549558.fca208","type":"comment","z":"a3492372.fb17c","name":"________________________________________ Xiaomi Square Buttons ________________________________________","info":"","x":480,"y":500,"wires":[]},{"id":"d4e148bf.d50ce8","type":"comment","z":"a3492372.fb17c","name":"________________________________________ Xiaomi Round Buttons ________________________________________","info":"","x":450,"y":40,"wires":[]},{"id":"3e24fa7f.e429e6","type":"comment","z":"a83b195e.5fb468","name":"________________________________________ Hue Remotes ________________________________________","info":"","x":430,"y":20,"wires":[]},{"id":"13f923f3.65cf8c","type":"comment","z":"6afdb4c3.b4193c","name":"________________________________________ Flic Buttons ________________________________________","info":"","x":440,"y":1600,"wires":[]},{"id":"dd1ef1e1.a95e1","type":"comment","z":"6afdb4c3.b4193c","name":"________________________________________ Flic Buttons ________________________________________","info":"","x":405,"y":25,"wires":[]},{"id":"fbb4a46a.aa6dc8","type":"comment","z":"6afdb4c3.b4193c","name":"________________________________________ Flic Buttons ________________________________________","info":"","x":425,"y":1895,"wires":[]},{"id":"d03785ed.6b4e88","type":"comment","z":"6afdb4c3.b4193c","name":"________________________________________ Flic Buttons ________________________________________","info":"","x":400,"y":520,"wires":[]},{"id":"15128a7e.0e6986","type":"comment","z":"a83b195e.5fb468","name":"Heater Toggle","info":"","x":630,"y":160,"wires":[]},{"id":"9d2700b0.67b46","type":"change","z":"8afe45b5.8f4f18","name":"Toggle","rules":[{"t":"set","p":"payload","pt":"msg","to":"TOGGLE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":315,"wires":[["3eb823bc.78074c"]]},{"id":"3631417c.d2edce","type":"change","z":"8afe45b5.8f4f18","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1315,"y":365,"wires":[["3eb823bc.78074c"]]},{"id":"d5524cfc.b35f1","type":"change","z":"8afe45b5.8f4f18","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1315,"y":265,"wires":[["3eb823bc.78074c"]]},{"id":"3eb823bc.78074c","type":"mqtt out","z":"8afe45b5.8f4f18","d":true,"name":"Heater","topic":"cmnd/sonoff_s26_heater/POWER","qos":"0","retain":"false","broker":"dafc06f7.05ab18","x":1490,"y":315,"wires":[]},{"id":"b9dbb6a4.a97c78","type":"link in","z":"8afe45b5.8f4f18","name":"heater_on","links":[],"x":1205,"y":265,"wires":[["d5524cfc.b35f1"]]},{"id":"771973e1.7e314c","type":"link in","z":"8afe45b5.8f4f18","name":"heater_toggle","links":["89cd411f.7b4eb","e0772951.48f528","c1f6f715.dcaa8","554949c0.05b718","fc676f71.8db49","29b6be98.2c0ce2"],"x":1230,"y":315,"wires":[["9d2700b0.67b46"]]},{"id":"50468b3d.b80b74","type":"link in","z":"8afe45b5.8f4f18","name":"heater_off","links":[],"x":1205,"y":365,"wires":[["3631417c.d2edce"]]},{"id":"d678efe2.77901","type":"mqtt out","z":"8afe45b5.8f4f18","name":"Bed","topic":"cmnd/sonoff_s26_bed/POWER","qos":"0","retain":"false","broker":"dafc06f7.05ab18","x":1490,"y":490,"wires":[]},{"id":"fb236afa.3f76a8","type":"change","z":"8afe45b5.8f4f18","name":"Toggle","rules":[{"t":"set","p":"payload","pt":"msg","to":"TOGGLE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":490,"wires":[["d678efe2.77901"]]},{"id":"ec205583.0b6bb8","type":"change","z":"8afe45b5.8f4f18","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1315,"y":540,"wires":[["d678efe2.77901"]]},{"id":"e6d605e3.c38c38","type":"change","z":"8afe45b5.8f4f18","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1315,"y":440,"wires":[["d678efe2.77901"]]},{"id":"2949ea48.5634d6","type":"link in","z":"8afe45b5.8f4f18","name":"bed_on","links":[],"x":1205,"y":440,"wires":[["e6d605e3.c38c38"]]},{"id":"5187633c.e04f4c","type":"link in","z":"8afe45b5.8f4f18","name":"bed_toggle","links":["7ee43fe4.9bc76","e812e094.01db7","ab7e7b59.4135a8","aeccbb4.6f81548","e43f0282.8d899","cad5c560.95f918","91421ca2.67492","75bb1409.8469cc","58149d25.3eae34"],"x":1230,"y":490,"wires":[["fb236afa.3f76a8"]]},{"id":"dd6e4f4b.64863","type":"link in","z":"8afe45b5.8f4f18","name":"bed_off","links":[],"x":1205,"y":540,"wires":[["ec205583.0b6bb8"]]},{"id":"7ee43fe4.9bc76","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_up-hold","links":["5187633c.e04f4c"],"x":555,"y":600,"wires":[]},{"id":"73072df6.511204","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_down-hold","links":[],"x":555,"y":640,"wires":[]},{"id":"dc7e3468.99e4a8","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_off-hold","links":[],"x":555,"y":680,"wires":[]},{"id":"d6a430f3.e4599","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_on-hold","links":[],"x":555,"y":560,"wires":[]},{"id":"43913893.52e168","type":"json","z":"a83b195e.5fb468","name":"","property":"payload","action":"","pretty":false,"x":390,"y":1160,"wires":[["debfd897.367518","7f599fc5.6f092","1fd32665.7dc14a","18db04ab.29744b"]]},{"id":"debfd897.367518","type":"switch","z":"a83b195e.5fb468","name":"Action: Press","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on-press","vt":"str"},{"t":"eq","v":"up-press","vt":"str"},{"t":"eq","v":"down-press","vt":"str"},{"t":"eq","v":"off-press","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":590,"y":940,"wires":[[],["9e373bf9.206398","d7b75a7e.01cdf8"],["9e373bf9.206398","d7b75a7e.01cdf8"],[]]},{"id":"7f599fc5.6f092","type":"switch","z":"a83b195e.5fb468","name":"Action: Hold","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on-hold","vt":"str"},{"t":"eq","v":"up-hold","vt":"str"},{"t":"eq","v":"down-hold","vt":"str"},{"t":"eq","v":"off-hold","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":590,"y":1160,"wires":[["78bcfbcc.3c0964"],["e812e094.01db7"],["cfbe5cb2.1b129"],["52d88aeb.9571c4"]]},{"id":"e812e094.01db7","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_up-hold","links":["5187633c.e04f4c"],"x":735,"y":1140,"wires":[]},{"id":"cfbe5cb2.1b129","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_down-hold","links":[],"x":735,"y":1180,"wires":[]},{"id":"52d88aeb.9571c4","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_off-hold","links":[],"x":735,"y":1220,"wires":[]},{"id":"78bcfbcc.3c0964","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_on-hold","links":[],"x":735,"y":1100,"wires":[]},{"id":"3546fe3f.0fed62","type":"mqtt in","z":"a83b195e.5fb468","name":"hue_remote_livingroom","topic":"zigbee2mqtt/hue_remote_livingroom","qos":"2","datatype":"auto","broker":"dafc06f7.05ab18","x":180,"y":1160,"wires":[[]]},{"id":"18db04ab.29744b","type":"debug","z":"a83b195e.5fb468","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":590,"y":1080,"wires":[]},{"id":"1fd32665.7dc14a","type":"switch","z":"a83b195e.5fb468","name":"Action: Release","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on-hold-release","vt":"str"},{"t":"eq","v":"up-hold-release","vt":"str"},{"t":"eq","v":"down-hold-release","vt":"str"},{"t":"eq","v":"off-hold-release","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":580,"y":1380,"wires":[["776cd7a0.f8cb58"],["ab7e7b59.4135a8"],["b250080e.47ce88"],["15049019.40db5"]]},{"id":"ab7e7b59.4135a8","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_up-hold","links":["5187633c.e04f4c"],"x":735,"y":1360,"wires":[]},{"id":"b250080e.47ce88","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_down-hold","links":[],"x":735,"y":1400,"wires":[]},{"id":"15049019.40db5","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_off-hold","links":["df52d756.e1efb8","1d28300d.0b2ac"],"x":735,"y":1440,"wires":[]},{"id":"776cd7a0.f8cb58","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_on-hold","links":["c2813dc.39392c","69866887.d963e8"],"x":735,"y":1320,"wires":[]},{"id":"9e373bf9.206398","type":"switch","z":"a83b195e.5fb468","name":"Brightness","property":"payload.brightness","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"5","v2t":"num"},{"t":"btwn","v":"50","vt":"num","v2":"55","v2t":"num"},{"t":"btwn","v":"100","vt":"num","v2":"105","v2t":"num"},{"t":"btwn","v":"150","vt":"num","v2":"155","v2t":"num"},{"t":"btwn","v":"200","vt":"num","v2":"205","v2t":"num"},{"t":"btwn","v":"250","vt":"num","v2":"255","v2t":"num"}],"checkall":"false","repair":false,"outputs":6,"x":810,"y":940,"wires":[["a0113dd3.82e","bc778c2e.c6c3f"],["a0113dd3.82e","a488350c.fc7dc8"],["a0113dd3.82e","a167026.c9743"],["a0113dd3.82e","2aed4309.bbb58c"],["a0113dd3.82e","e008c982.07cce8"],["a0113dd3.82e","16653db9.eb3fb2"]]},{"id":"d7b75a7e.01cdf8","type":"debug","z":"a83b195e.5fb468","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":840,"wires":[]},{"id":"a0113dd3.82e","type":"debug","z":"a83b195e.5fb468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1010,"y":780,"wires":[]},{"id":"3c30d497.f0e0ac","type":"comment","z":"a83b195e.5fb468","name":"200-250 = 80%","info":"","x":1220,"y":1000,"wires":[]},{"id":"320f1b5d.2b68e4","type":"comment","z":"a83b195e.5fb468","name":"150-155 = 60%","info":"","x":1220,"y":960,"wires":[]},{"id":"b7b12973.661228","type":"comment","z":"a83b195e.5fb468","name":"100-105 = 40%","info":"","x":1220,"y":920,"wires":[]},{"id":"1895bf3b.3f0a01","type":"comment","z":"a83b195e.5fb468","name":"50-55 = 20%","info":"","x":1210,"y":880,"wires":[]},{"id":"35996f36.45c46","type":"comment","z":"a83b195e.5fb468","name":"0-5 = Off","info":"","x":1200,"y":840,"wires":[]},{"id":"9eaf2b67.a92c98","type":"comment","z":"a83b195e.5fb468","name":"250-255 = 100%","info":"","x":1220,"y":1040,"wires":[]},{"id":"bc778c2e.c6c3f","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_off-press","links":["c2813dc.39392c"],"x":955,"y":840,"wires":[]},{"id":"a488350c.fc7dc8","type":"change","z":"a83b195e.5fb468","name":"Brightness 20%","rules":[{"t":"set","p":"payload.brightness","pt":"msg","to":"20%","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":880,"wires":[["b5e35098.c3406"]]},{"id":"a167026.c9743","type":"change","z":"a83b195e.5fb468","name":"Brightness 40%","rules":[{"t":"set","p":"payload.brightness","pt":"msg","to":"","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":920,"wires":[["b5e35098.c3406"]]},{"id":"2aed4309.bbb58c","type":"change","z":"a83b195e.5fb468","name":"Brightness 60%","rules":[{"t":"set","p":"payload.brightness","pt":"msg","to":"","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":960,"wires":[["b5e35098.c3406"]]},{"id":"e008c982.07cce8","type":"change","z":"a83b195e.5fb468","name":"Brightness 80%","rules":[{"t":"set","p":"payload.brightness","pt":"msg","to":"","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1000,"wires":[["b5e35098.c3406"]]},{"id":"16653db9.eb3fb2","type":"change","z":"a83b195e.5fb468","name":"Brightness 100%","rules":[{"t":"set","p":"payload.brightness","pt":"msg","to":"","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1040,"wires":[["b5e35098.c3406"]]},{"id":"8fb012f4.2b8be","type":"json","z":"a83b195e.5fb468","name":"","property":"payload","action":"","pretty":false,"x":110,"y":2180,"wires":[["ca8d4ea6.e5ccf","9f9e59b5.a6b038","53308eb3.eeebe"]]},{"id":"ca8d4ea6.e5ccf","type":"switch","z":"a83b195e.5fb468","name":"Action: Press","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on-press","vt":"str"},{"t":"eq","v":"up-press","vt":"str"},{"t":"eq","v":"down-press","vt":"str"},{"t":"eq","v":"off-press","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":510,"y":2180,"wires":[["6b7f797a.b83df8"],["95e85382.60f42"],["46b9c69a.58d998"],["f770aec4.c72a"]]},{"id":"9f9e59b5.a6b038","type":"switch","z":"a83b195e.5fb468","name":"Action: Hold","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on-hold","vt":"str"},{"t":"eq","v":"up-hold","vt":"str"},{"t":"eq","v":"down-hold","vt":"str"},{"t":"eq","v":"off-hold","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":150,"y":2320,"wires":[["f6373aea.f958c8"],["aeccbb4.6f81548"],["7fe60c67.e668b4"],["fca6bf13.5bddf"]]},{"id":"95e85382.60f42","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_up-press","links":[],"x":655,"y":2160,"wires":[]},{"id":"46b9c69a.58d998","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_down-press","links":[],"x":655,"y":2200,"wires":[]},{"id":"aeccbb4.6f81548","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_up-hold","links":["5187633c.e04f4c"],"x":295,"y":2300,"wires":[]},{"id":"7fe60c67.e668b4","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_down-hold","links":[],"x":295,"y":2340,"wires":[]},{"id":"fca6bf13.5bddf","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_off-hold","links":[],"x":295,"y":2380,"wires":[]},{"id":"f6373aea.f958c8","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_on-hold","links":[],"x":295,"y":2260,"wires":[]},{"id":"53308eb3.eeebe","type":"switch","z":"a83b195e.5fb468","name":"Action: Release","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"on-hold-release","vt":"str"},{"t":"eq","v":"up-hold-release","vt":"str"},{"t":"eq","v":"down-hold-release","vt":"str"},{"t":"eq","v":"off-hold-release","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":140,"y":2540,"wires":[["f24f234d.5cf94"],["e43f0282.8d899"],["9b94be59.9b3ee"],["cf7c1361.dfa48"]]},{"id":"e43f0282.8d899","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_up-hold","links":["5187633c.e04f4c"],"x":295,"y":2520,"wires":[]},{"id":"9b94be59.9b3ee","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_down-hold","links":[],"x":295,"y":2560,"wires":[]},{"id":"cf7c1361.dfa48","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_off-hold","links":[],"x":295,"y":2600,"wires":[]},{"id":"f24f234d.5cf94","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_on-hold","links":[],"x":295,"y":2480,"wires":[]},{"id":"4c4a5ce3.a69a74","type":"mqtt in","z":"a83b195e.5fb468","name":"hue_remote_livingroom","topic":"zigbee2mqtt/hue_remote_livingroom","qos":"2","datatype":"auto","broker":"dafc06f7.05ab18","x":160,"y":2100,"wires":[["8fb012f4.2b8be"]]},{"id":"c47712f5.1fed8","type":"inject","z":"8afe45b5.8f4f18","name":"","topic":"","payload":"getInfo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":160,"wires":[["5e616f57.f28c5"]]},{"id":"9a99e625.af3e48","type":"inject","z":"8afe45b5.8f4f18","name":"","topic":"","payload":"getCloudInfo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":100,"wires":[["5e616f57.f28c5"]]},{"id":"db47990b.773d78","type":"inject","z":"8afe45b5.8f4f18","name":"","topic":"","payload":"getQuickInfo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":220,"wires":[["5e616f57.f28c5"]]},{"id":"9dc87fb8.8e781","type":"comment","z":"8afe45b5.8f4f18","name":"________________________________________ TP-Link Bulbs ________________________________________","info":"","x":410,"y":40,"wires":[]},{"id":"4b429c1c.4f70f4","type":"comment","z":"8afe45b5.8f4f18","name":"________________________________________ Sonoff Endpoints ________________________________________","info":"","x":1340,"y":40,"wires":[]},{"id":"2ab91ff9.3c74f","type":"inject","z":"8afe45b5.8f4f18","name":"","topic":"","payload":"clearEvents","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":520,"wires":[[]]},{"id":"e76a1b0d.3be618","type":"inject","z":"8afe45b5.8f4f18","name":"","topic":"","payload":"getMeterInfo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":460,"wires":[["5e616f57.f28c5"]]},{"id":"409dd71b.5ccc98","type":"inject","z":"8afe45b5.8f4f18","name":"","topic":"","payload":"eraseStats","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":580,"wires":[[]]},{"id":"31aec72d.8102d8","type":"catch","z":"8afe45b5.8f4f18","name":"","scope":null,"uncaught":false,"x":500,"y":80,"wires":[["dfbc355d.3e7fb8"]]},{"id":"dfbc355d.3e7fb8","type":"debug","z":"8afe45b5.8f4f18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":80,"wires":[]},{"id":"6b72d50b.552dac","type":"comment","z":"8afe45b5.8f4f18","name":"________________________________________ Yeelights ________________________________________","info":"","x":430,"y":700,"wires":[]},{"id":"672da7a8.5f0d68","type":"comment","z":"a3492372.fb17c","name":"Heater Toggle","info":"","x":690,"y":220,"wires":[]},{"id":"b1436b7a.86fc58","type":"comment","z":"a3492372.fb17c","name":"Bed Toggle","info":"","x":700,"y":280,"wires":[]},{"id":"6b7f797a.b83df8","type":"link out","z":"a83b195e.5fb468","name":"hue_remotes_on-press","links":["c2813dc.39392c","69866887.d963e8"],"x":655,"y":2120,"wires":[]},{"id":"fe50d048.db0dc","type":"function","z":"a83b195e.5fb468","name":"reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":2300,"wires":[["94f65484.20d428"]]},{"id":"f770aec4.c72a","type":"function","z":"a83b195e.5fb468","name":"increment","func":"msg.increment = 1;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":2240,"wires":[["94f65484.20d428"]]},{"id":"cc76858a.e188c8","type":"switch","z":"a83b195e.5fb468","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":1110,"y":2240,"wires":[["2e13cd42.706902"],["2e13cd42.706902"],["2e13cd42.706902"],["2e13cd42.706902"],["2e13cd42.706902"],["2e13cd42.706902"]]},{"id":"91f3dafb.1aab38","type":"inject","z":"a3492372.fb17c","name":"double","topic":"","payload":"{\"click\":\"double\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1110,"y":100,"wires":[[]]},{"id":"ed5c9e07.211f5","type":"inject","z":"a3492372.fb17c","name":"quad","topic":"","payload":"{\"click\":\"quadruple\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1110,"y":180,"wires":[[]]},{"id":"c694ff74.b076c","type":"inject","z":"a3492372.fb17c","name":"triple","topic":"","payload":"{\"click\":\"triple\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1110,"y":140,"wires":[[]]},{"id":"5ec57aea.bb5714","type":"inject","z":"a3492372.fb17c","name":"single","topic":"","payload":"{\"click\":\"single\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1110,"y":60,"wires":[[]]},{"id":"159ec51c.887aab","type":"inject","z":"a3492372.fb17c","name":"many","topic":"","payload":"{\"click\":\"many\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1110,"y":220,"wires":[[]]},{"id":"688b5648.390cd8","type":"inject","z":"a3492372.fb17c","name":"long","topic":"","payload":"{\"click\":\"long\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1110,"y":260,"wires":[[]]},{"id":"3468f493.c649bc","type":"inject","z":"a83b195e.5fb468","name":"off-press","topic":"","payload":"{\"battery\":100,\"linkquality\":49,\"counter\":1,\"brightness\":255,\"action\":\"off-press\",\"duration\":0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":1960,"wires":[["8fb012f4.2b8be"]]},{"id":"d1b8ed1a.e50a7","type":"debug","z":"a83b195e.5fb468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":2000,"wires":[]},{"id":"6a0c9b20.4fd3f4","type":"inject","z":"a83b195e.5fb468","name":"decrement","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":215,"y":4063.333251953125,"wires":[["d50bc138.48f89"]]},{"id":"a7f05838.e0f798","type":"inject","z":"a83b195e.5fb468","name":"increment","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":215,"y":4023.333251953125,"wires":[["2af8b5e7.f8a76a"]]},{"id":"7e995167.4d4fd","type":"inject","z":"a83b195e.5fb468","name":"reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":205,"y":4103.333251953125,"wires":[["63fc526f.d73d4c"]]},{"id":"2af8b5e7.f8a76a","type":"function","z":"a83b195e.5fb468","name":"msg object","func":"msg.increment = 1;\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":4023.333251953125,"wires":[["f59cc910.f780e8"]]},{"id":"63fc526f.d73d4c","type":"function","z":"a83b195e.5fb468","name":"msg object","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":4103.333251953125,"wires":[["f59cc910.f780e8"]]},{"id":"d50bc138.48f89","type":"function","z":"a83b195e.5fb468","name":"msg object","func":"msg.decrement = 1;\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":4063.333251953125,"wires":[["f59cc910.f780e8"]]},{"id":"e6c6e8a0.7b7a88","type":"inject","z":"a83b195e.5fb468","name":"normal msg without control parameter","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":305,"y":3983.333251953125,"wires":[["f59cc910.f780e8"]]},{"id":"39669e16.1df602","type":"debug","z":"a83b195e.5fb468","name":"message","active":true,"console":"false","complete":"true","x":735,"y":4043.333251953125,"wires":[]},{"id":"92b51e9a.975ac","type":"delay","z":"8afe45b5.8f4f18","d":true,"name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":400,"wires":[["5e9a68f8.668fc8"]]},{"id":"759ecfbd.24972","type":"change","z":"8afe45b5.8f4f18","name":"Toggle","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\": \"true\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1000,"wires":[["4948506c.f4098"]]},{"id":"ccfcdd8.bc0f22","type":"change","z":"8afe45b5.8f4f18","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":1050,"wires":[["4948506c.f4098"]]},{"id":"182ac2c3.dfcd3d","type":"change","z":"8afe45b5.8f4f18","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":950,"wires":[["4948506c.f4098"]]},{"id":"316d630.e48fb9e","type":"link in","z":"8afe45b5.8f4f18","name":"bedroom_on","links":[],"x":145,"y":950,"wires":[["182ac2c3.dfcd3d"]]},{"id":"1d28300d.0b2ac","type":"link in","z":"8afe45b5.8f4f18","name":"bedroom_toggle","links":["3aba1855.3e5458","54dade68.ab1408","15049019.40db5","9a92b60f.b2cff8","921c4470.24c07","eb51dcae.1d2d18","1ebfeb36.a9ddd5","9d15c174.a9649","d89e2ecd.901e7","976a5a69.0efbb8","94f77077.41614","b1218e1.33d717","8da151d2.09bbe","e3e927f8.232288"],"x":170,"y":1000,"wires":[["759ecfbd.24972"]]},{"id":"e5f89bf7.a6ecf8","type":"link in","z":"8afe45b5.8f4f18","name":"bedroom_off","links":["2eb44519.4701da","724eaf65.fa3c88","e5980f14.001a4","61c3e8f6.05f848","9ada4a16.595da8","bdeca5fc.0bdd18","ddbd9d56.30c8b","6397b2c7.56813c"],"x":145,"y":1050,"wires":[["ccfcdd8.bc0f22"]]},{"id":"1d1e75cc.80264a","type":"comment","z":"8afe45b5.8f4f18","name":"________________________________________ Sonoff Endpoints ________________________________________","info":"","x":2180,"y":40,"wires":[]},{"id":"d51b1e5c.25fd","type":"switch","z":"a3492372.fb17c","name":"xcube - Click Type","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"wakeup","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"fall","vt":"str"},{"t":"eq","v":"tap","vt":"str"},{"t":"eq","v":"slide","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"},{"t":"eq","v":"drop","vt":"str"},{"t":"eq","v":"tilt","vt":"str"},{"t":"eq","v":"touch","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":1527.0000839233398,"y":166.0000228881836,"wires":[[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"33e42bf8.8e6474","type":"comment","z":"8afe45b5.8f4f18","name":"________________________________________ Kodi  ________________________________________","info":"","x":420,"y":1480,"wires":[]},{"id":"fb94dc3a.dba0e","type":"debug","z":"8afe45b5.8f4f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":150,"y":2800,"wires":[]},{"id":"c3dc4417.95d368","type":"function","z":"8afe45b5.8f4f18","name":"kodi_input","func":"var cmd = 'Input.';\ncmd += msg.payload;\n\nreturn { payload: { cmd } };","outputs":1,"noerr":0,"x":110,"y":2920,"wires":[["5f8b2187.fb178"]]},{"id":"de780fcc.829fd","type":"function","z":"8afe45b5.8f4f18","name":"parse_command","func":"var cmd = msg.payload.type;\n    cmd += '.';\n    cmd += msg.payload.command;\n\nreturn { payload: { cmd } };\n","outputs":1,"noerr":0,"x":190,"y":2760,"wires":[["fb94dc3a.dba0e"]]},{"id":"ba799750.012b48","type":"json","z":"8afe45b5.8f4f18","name":"","property":"payload","action":"","pretty":false,"x":150,"y":2720,"wires":[["de780fcc.829fd"]]},{"id":"36306aa5.2d4fa6","type":"function","z":"8afe45b5.8f4f18","name":"parse_command_with_args","func":"var cmd = msg.payload.type;\n    cmd += '.';\n    cmd += msg.payload.command;\n\nvar arg = msg.payload;\n\nreturn { payload: { cmd  :  arg  }  };","outputs":1,"noerr":0,"x":160,"y":2880,"wires":[[]]},{"id":"aa16544d.15c8b8","type":"json","z":"8afe45b5.8f4f18","name":"","property":"payload","action":"","pretty":false,"x":150,"y":2840,"wires":[["36306aa5.2d4fa6"]]},{"id":"5f8b2187.fb178","type":"debug","z":"8afe45b5.8f4f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":250,"y":2920,"wires":[]},{"id":"58a9915b.1093","type":"function","z":"8afe45b5.8f4f18","name":"kodi_input_rpcworking","func":"return {\n    payload: \n        {\n            \"cmd\":\"Application.SetVolume\",\n            \"params\":{\n                    \"volume\":\"increment\"   \n\n            }\n        }\n};","outputs":1,"noerr":0,"x":160,"y":3120,"wires":[[]]},{"id":"78c7d900.520f68","type":"function","z":"8afe45b5.8f4f18","name":"kodi_input_test_with_args","func":"var type = msg.payload.type;\nvar command = msg.payload.command;\nvar params = msg.payload.params;\n\n\nreturn { \"payload\": { \"cmd\": type , \"params\": {\"volume\":\"increment\"} } }\n\n\n\n\n/*\n{\"payload\":{\"cmd\":\"Application.SetVolume\",\"params\":{\"volume\":\"increment\"}},\"_msgid\":\"c3eb01f0.113c9\"}\npayload: {\"type\":\"Application\" , \"command\":\"SetVolume\" , \"params\":{\"volume\":\"increment\"} }\n\n\nvar cmd = msg.payload.type;\n    cmd += '.';\n    cmd += msg.payload.command;\n\nvar params = msg.payload.params;\n\nreturn { payload: cmd, params };\n\n\n\n\nreturn { \"payload\": { \"cmd\":\"Application.SetVolume\" , \"params\": {\"volume\":\"increment\"} } }\n\n\n\n\nvar params = msg.payload.params\n    params += ':'\n    params += msg.payload;\n    \n   return { payload: { cmd }{ arg } }; \nreturn \n{\n        payload: { \"cmd\":\"Application.SetVolume\", \"params\":{ \"volume\":\"increment\" } }\n};\n\n*/","outputs":1,"noerr":0,"x":170,"y":3040,"wires":[[]]},{"id":"8a73452.8a347b8","type":"function","z":"8afe45b5.8f4f18","name":"kodi_input_test_with_args","func":"var type = msg.payload.type;\nvar command = msg.payload.command;\nvar params = msg.payload.params;\n\nvar cmd = msg.payload.type;\n    cmd += '.';\n    cmd += msg.payload.command;\n    \nvar arg1 = \"volume\";\nvar arg2 = \"increment\";\n\n\nmsg.payload = {\"cmd\": type + \".\" + command, \"params\": { arg1 : arg2 } }\n\nreturn msg;\n\n\n\n\n/*\n{\"payload\":{\"cmd\":\"Application.SetVolume\",\"params\":{\"volume\":\"increment\"}},\"_msgid\":\"c3eb01f0.113c9\"}\npayload: {\"type\":\"Application\" , \"command\":\"SetVolume\" , \"params\":{\"volume\":\"increment\"} }\nreturn { \"payload\": { \"cmd\": cmd , \"params\":{  arg1  } } };\n\nvar cmd = msg.payload.type;\n    cmd += '.';\n    cmd += msg.payload.command;\n\nvar params = msg.payload.params;\n\nreturn { payload: cmd, params };\n\n\n\n\nreturn { \"payload\": { \"cmd\":\"Application.SetVolume\" , \"params\": {\"volume\":\"increment\"} } }\nreturn { \"payload\": { \"cmd\": type , \"params\": {\"volume\":\"increment\"} } }\n\n\n\nvar params = msg.payload.params\n    params += ':'\n    params += msg.payload;\n    \n   return { payload: { cmd }{ arg } }; \nreturn \n{\n        payload: { \"cmd\":\"Application.SetVolume\", \"params\":{ \"volume\":\"increment\" } }\n};\n\n*/","outputs":1,"noerr":0,"x":170,"y":3000,"wires":[[]]},{"id":"c4569368.a8395","type":"function","z":"8afe45b5.8f4f18","name":"kodi_input_rpcworking","func":"return {\n    payload: \n        {\n            \"cmd\":\"Input.ExecuteAction\",\n            \"params\":{\n                    \"action\":\"pagedown\"   \n\n            }\n        }\n};","outputs":1,"noerr":0,"x":160,"y":3080,"wires":[[]]},{"id":"57b62537.38125c","type":"function","z":"8afe45b5.8f4f18","name":"parse_command","func":"var cmd = msg.payload.type;\n    cmd += '.';\n    cmd += msg.payload.command;\n\nreturn { payload: { cmd } };\n","outputs":1,"noerr":0,"x":150,"y":2960,"wires":[[]]},{"id":"aa6b3673.6d2858","type":"inject","z":"8afe45b5.8f4f18","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":505,"y":2010,"wires":[["43fa2e7c.504de"]]},{"id":"abcdc6ac.758888","type":"switch","z":"8afe45b5.8f4f18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"paused","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":805,"y":2085,"wires":[["5d618cf3.99cbd4"],["d89e2ecd.901e7"],["1a179a09.fe5816"]]},{"id":"dd7723b9.c6301","type":"switch","z":"8afe45b5.8f4f18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1155,"y":2085,"wires":[["6cb6a6d5.211c18","6397b2c7.56813c"],["ddbd9d56.30c8b","4fb81cb1.84a784"]]},{"id":"ddbd9d56.30c8b","type":"link out","z":"8afe45b5.8f4f18","name":"bedon","links":["f3ff920a.8febf","e5f89bf7.a6ecf8"],"x":1345,"y":2110,"wires":[]},{"id":"6397b2c7.56813c","type":"link out","z":"8afe45b5.8f4f18","name":"bedon","links":["f3ff920a.8febf","e5f89bf7.a6ecf8"],"x":1345,"y":2060,"wires":[]},{"id":"d89e2ecd.901e7","type":"link out","z":"8afe45b5.8f4f18","name":"flic_single","links":["df52d756.e1efb8","1d28300d.0b2ac"],"x":920,"y":2085,"wires":[]},{"id":"bc78b80f.267aa8","type":"link in","z":"8afe45b5.8f4f18","name":"kodi_play_pause_light","links":["31c7c4e8.da9e3c"],"x":520,"y":2060,"wires":[["43fa2e7c.504de"]]},{"id":"a0d53388.c658f","type":"comment","z":"8afe45b5.8f4f18","name":"idle","info":"","x":980,"y":2085,"wires":[]},{"id":"86747336.2d792","type":"function","z":"8afe45b5.8f4f18","name":"likefm","func":"return {\n    payload: \n        {\n            \"cmd\":\"Player.Open\",\n            \"args\":{\n                \"item\":{\n                    \"file\":\"smb://CUBIE/boba_500gb/kodi_radiochannels/likefm.strm\"   \n                }\n                \n            }\n        }\n};","outputs":1,"noerr":0,"x":590,"y":2840,"wires":[[]]},{"id":"82bd0f48.b5fbf","type":"function","z":"8afe45b5.8f4f18","name":"loungefm_tunein","func":"return {\n    payload: \n        {\n            \"cmd\":\"Player.Open\",\n            \"args\":{\n                \"item\":{\n                    \"file\": \"plugin://plugin.audio.tuneinradio/?logo=http%3A%2F%2Fcdn-radiotime-logos.tunein.com%2Fs206479q.png&path=tune&id=s206479&name=Lounge+FM+Terrace+%28%29\"\n                }\n                \n            }\n        }\n};","outputs":1,"noerr":0,"x":620,"y":2920,"wires":[[]]},{"id":"fb6abbff.4c20c8","type":"function","z":"8afe45b5.8f4f18","name":"relaxfm","func":"return {\n    payload: \n        {\n            \"cmd\":\"Player.Open\",\n            \"args\":{\n                \"item\":{\n                    \"file\":\"smb://nas_server/drive/kodi_radiochannels/relaxfm.strm\"\n                }\n                \n            }\n        }\n};\n","outputs":1,"noerr":0,"x":600,"y":2880,"wires":[[]]},{"id":"1a249ec8.cc08a1","type":"function","z":"8afe45b5.8f4f18","name":"loungefm_tunein","func":"return {\n    payload: \n        {\n            \"cmd\":\"Player.Open\",\n            \"args\":{\n                \"item\":{\n                    \"file\": \"plugin://plugin.audio.tuneinradio/?path=tune&id=s53084\"\n                }\n                \n            }\n        }\n};","outputs":1,"noerr":0,"x":620,"y":2960,"wires":[[]]},{"id":"50553362.e678bc","type":"inject","z":"8afe45b5.8f4f18","name":"up","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":2920,"wires":[["37b6bcfc.56b224"]]},{"id":"37b6bcfc.56b224","type":"function","z":"8afe45b5.8f4f18","name":"play_item","func":"return {\n    payload: \n        {\n            \"cmd\":\"Player.Open\",\n            \"args\":{\n                \"item\":{\n                    \"file\":\"smb://192.168.1.1/Cloud/MEDIA/Video/Cameras/CCTV/MotionEye - BedroomCam2.strm\"\n                }\n                \n            }\n        }\n};","outputs":1,"noerr":0,"x":600,"y":3000,"wires":[[]]},{"id":"6f246012.20948","type":"mqtt in","z":"8afe45b5.8f4f18","name":"kodi_video","topic":"kodi/video","qos":"2","datatype":"auto","broker":"dafc06f7.05ab18","x":100,"y":2240,"wires":[["7bc28786.28e418"]]},{"id":"10857a91.1e8ed5","type":"debug","z":"8afe45b5.8f4f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":2240,"wires":[]},{"id":"f00cc91f.6bcbc8","type":"function","z":"8afe45b5.8f4f18","name":"kodi_input_with_args","func":"var method0 = msg.payload.method0;\nvar method1 = msg.payload.method1;\nvar method2 = msg.payload.method2;\n\nvar test1 = test2;\n\nvar command = msg.payload.command;\nvar params = msg.payload.params;\n\nmsg.payload = { \"cmd\": method0 + \".\" + method2, \"params\": params }\n\nreturn msg;\n\n\n/*\n{ \"cmd\": \"Player.Open\", \"args\": { \"item\": { \"file\":\"smb://192.168.1.1/Cloud/MEDIA/Video/Cameras/CCTV/MotionEye - BedroomCam2.strm\" } } };\n    \n{ \"type\" : \"Player\" , \"command\" : \"Open\" , { \"item\" : {\"file\" : \"smb://192.168.1.1/Cloud/MEDIA/Video/Cameras/CCTV/MotionEye - BedroomCam2.strm\" } } }\n\n*/","outputs":1,"noerr":0,"x":460,"y":2240,"wires":[["10857a91.1e8ed5"]]},{"id":"491c4153.e1e9","type":"inject","z":"8afe45b5.8f4f18","name":"timestamp","topic":"","payload":"{\"type\":\"Input\", \"command\":\"Up\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":2180,"wires":[["7bc28786.28e418"]]},{"id":"7bc28786.28e418","type":"json","z":"8afe45b5.8f4f18","name":"","property":"payload","action":"","pretty":false,"x":290,"y":2240,"wires":[["f00cc91f.6bcbc8","f29f5982.a7e408"]]},{"id":"80b4f765.539c88","type":"function","z":"8afe45b5.8f4f18","d":true,"name":"play_item","func":"\n\n\n\n\n/*\n\n \n\n{ \"cmd\": \"Player.Open\", \"args\": { \"item\": { \"file\":\"smb://192.168.1.1/Cloud/MEDIA/Video/Cameras/CCTV/MotionEye - BedroomCam2.strm\" } } };\n    \n{ \"type\" : \"Player\" , \"command\" : \"Open\" , { \"item\" : {\"file\" : \"smb://192.168.1.1/Cloud/MEDIA/Video/Cameras/CCTV/MotionEye - BedroomCam2.strm\" } } }\n\n\n\n\n \n\n \n\n \n\n\n*/","outputs":1,"noerr":0,"x":600,"y":2800,"wires":[[]]},{"id":"b366f690.6e90d8","type":"inject","z":"8afe45b5.8f4f18","name":"timestamp","topic":"","payload":"{\"method0\":\"cmd\", \"method1\":\"Input\", \"method2\":\"ContextMenu\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":2140,"wires":[["7bc28786.28e418"]]},{"id":"f29f5982.a7e408","type":"debug","z":"8afe45b5.8f4f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":2180,"wires":[]},{"id":"4734ea0e.5396c4","type":"mqtt in","z":"8afe45b5.8f4f18","name":"kodi_input","topic":"kodi/input","qos":"2","datatype":"auto","broker":"dafc06f7.05ab18","x":120,"y":1680,"wires":[["9b425cd0.fe7ac"]]},{"id":"e1a9c2a8.22ae","type":"debug","z":"8afe45b5.8f4f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1190,"y":1700,"wires":[]},{"id":"12a73969.61de37","type":"inject","z":"8afe45b5.8f4f18","name":"input.up","topic":"","payload":"{\"method1\":\"Input\", \"method2\":\"Up\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1740,"wires":[["9b425cd0.fe7ac","b824b947.76dbb8"]]},{"id":"9b425cd0.fe7ac","type":"json","z":"8afe45b5.8f4f18","name":"","property":"payload","action":"","pretty":false,"x":330,"y":1680,"wires":[["9d1c45d3.515ed8","64db1084.63224"]]},{"id":"9494af22.6b527","type":"switch","z":"8afe45b5.8f4f18","name":"","property":"player","propertyType":"msg","rules":[{"t":"eq","v":"BedroomShield","vt":"str"},{"t":"eq","v":"LivingRoomShield","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":1680,"wires":[["e1a9c2a8.22ae","ddcd5979.721b68"],["e1a9c2a8.22ae"]]},{"id":"d7fccf89.0837f","type":"inject","z":"8afe45b5.8f4f18","name":"file","topic":"","payload":"{\"method1\":\"Player\", \"method2\":\"Open\", \"args\":{\"item\":{\"file\":\"smb://192.168.1.1/Cloud/MEDIA/Video/Cameras/CCTV/MotionEye - BedroomCam2.strm\"} } }","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1780,"wires":[["9b425cd0.fe7ac"]]},{"id":"cc4ffb1e.832468","type":"function","z":"8afe45b5.8f4f18","name":"kodi_input_with_args","func":"var method1 = msg.payload.method1;\nvar method2 = msg.payload.method2;\nvar params = msg.payload.params;\nvar filedir = msg.payload.filedir;\nvar items = msg.payload.args.item;\n\n\nif ( msg.payload.method1 == \"Input\" )\n\n{\nmsg.payload = {\n        \"cmd\": method1 + \".\" + method2,\n        \"params\": params\n    }\n}\n\nelse if ( msg.payload.method1 == \"Player\" && msg.payload.method2 == \"Open\" ) \n\n{\nmsg.payload = {\n                \"cmd\": method1 + \".\" + method2,\n                \"params\": params,\n                 \"args\": \n                  { \"item\": \n                    { \"file\": filedir } \n                    }\n              };\n}\n\n\n\n\n\nreturn msg;\n\n\n/*\n\n\n\n\n\n\n\n\n*/","outputs":1,"noerr":0,"x":580,"y":3100,"wires":[[]]},{"id":"b824b947.76dbb8","type":"debug","z":"8afe45b5.8f4f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":1780,"wires":[]},{"id":"9d1c45d3.515ed8","type":"debug","z":"8afe45b5.8f4f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":1620,"wires":[]},{"id":"64db1084.63224","type":"function","z":"8afe45b5.8f4f18","name":"kodi_input_with_args","func":"var method1 = msg.payload.method1;\nvar method2 = msg.payload.method2;\nvar params = msg.payload.params;\nvar args = msg.payload.args;\n\n\nif ( msg.payload.method1 == \"Input\" )\n{\nmsg.payload = {\n        \"cmd\": method1 + \".\" + method2,\n        \"params\": params\n    }\n}\n\nelse if ( msg.payload.method1 == \"Player\" && msg.payload.method2 == \"Open\" ) \n\n{\nmsg.payload = {\n                \"cmd\": method1 + \".\" + method2,\n                \"params\": params,\n                \"args\": args\n              };\n}\n\n\nreturn msg;\n\n \n\n\n/*\n\n \n\n \n\n \n\n \n\n\n*/","outputs":1,"noerr":0,"x":520,"y":1680,"wires":[["3c30f6f7.51566a"]]},{"id":"cbcaa264.4f4cf","type":"inject","z":"8afe45b5.8f4f18","name":"dir","topic":"","payload":"{\"method1\":\"Player\", \"method2\":\"Open\", \"args\":{\"item\":{\"directory\":\"smb://192.168.1.1/Cloud/MEDIA/Video/Cameras/CCTV/\"} } }","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1820,"wires":[["9b425cd0.fe7ac"]]},{"id":"2d709305.957c1c","type":"function","z":"8afe45b5.8f4f18","name":"kodi_input_with_args","func":"var type = msg.payload.type;\nvar command = msg.payload.command;\nvar params = msg.payload.params;\n\nmsg.payload = {\n        \"cmd\": type + \".\" + command,\n        \"params\": params\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":3060,"wires":[[]]},{"id":"d27be069.b0c8d","type":"function","z":"8afe45b5.8f4f18","name":"play_item","func":"return {\n    payload: \n        {\n            \"cmd\":\"Player.Open\",\n            \"args\":{\n                \"item\":{\n                    \"file\":\"smb://192.168.1.1/Cloud/MEDIA/Video/Cameras/CCTV/MotionEye - BedroomCam2.strm\"\n                }\n                \n            }\n        }\n};","outputs":1,"noerr":0,"x":600,"y":2760,"wires":[[]]},{"id":"1f8493c1.ffb99c","type":"inject","z":"8afe45b5.8f4f18","name":"working file","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":2760,"wires":[["d27be069.b0c8d"]]},{"id":"e65b2e57.621ad","type":"function","z":"8afe45b5.8f4f18","name":"old x deconz","func":"// Set Domoticz device IDX\nvar occupancy = msg.payload.occupancy.toString();\nvar rssi = msg.payload.linkquality;\nmsg.payload = {}\n// If occupancy status received\nif (typeof occupancy !== 'undefined' && occupancy !== null){\nif(occupancy == 'true') {\n    var occupancystate = 'On'\n    msg.payload.nvalue = 1;\n} else if (occupancy == 'false') {\n    var occupancystate = 'Off'\n    msg.payload.nvalue = 0;\n}\nmsg.payload.idx = 1255 ;\nmsg.payload.svalue = occupancystate;\nrssi = Math.round(rssi / 11);\nif (rssi > 11) {rssi = 11;}\nmsg.payload.RSSI = rssi;\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":370,"y":2820,"wires":[[]]},{"id":"b5e35098.c3406","type":"debug","z":"a83b195e.5fb468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":780,"wires":[]},{"id":"66bed86a.a65fc8","type":"inject","z":"a83b195e.5fb468","name":"timer_start","topic":"","payload":"{\"payload\":\"on\",\"timeout\":10,\"warning\":5}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":2520,"wires":[["1934c863.b16358"]]},{"id":"1416358f.83935a","type":"inject","z":"a83b195e.5fb468","name":"timer_stop","topic":"","payload":"{\"payload\":\"off\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":2560,"wires":[[]]},{"id":"1fee4e7.aa61bb2","type":"inject","z":"a83b195e.5fb468","name":"single","topic":"","payload":"{\"action\":\"off-press\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":2400,"wires":[["8fb012f4.2b8be"]]},{"id":"5cd3c493.196a4c","type":"debug","z":"a83b195e.5fb468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1550,"y":2220,"wires":[]},{"id":"6d076460.e7cdbc","type":"telegram receiver","z":"fefae89d.151a98","name":"","bot":"67d7744.0749d8c","saveDataDir":"","x":230,"y":160,"wires":[[],[]]},{"id":"dc1961db.bf9a5","type":"debug","z":"fefae89d.151a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":20,"wires":[]},{"id":"f76f028c.eb501","type":"telegram command","z":"fefae89d.151a98","name":"Main Menu","command":"A","bot":"67d7744.0749d8c","strict":false,"x":200,"y":220,"wires":[["7390e4b2.5993dc"],[]]},{"id":"7390e4b2.5993dc","type":"function","z":"fefae89d.151a98","name":"Main Menu","func":"context.global.keyboard = { pending : true, messageId : msg.payload.messageId };\n\nvar opts = \n{\nreply_to_message_id: msg.payload.messageId,\nreply_markup: \n{\n    \"inline_keyboard\": \n        [\n            [\n                {\n                    \"text\": \"Upstairs\",\n                    \"callback_data\" : \"/UpstairsMenu\"\n                },\n                {\n                    \"text\" : \"Downstairs\",\n                    \"callback_data\": \"/DownstairsMenu\"\n                },\n                {\n                    \"text\" : \"Outside\",\n                    \"callback_data\": \"/OutsideMenu\"\n                }\n            ]\n        ]\n    }\n};\n\n\nvar reply = \"Main Menu\";\nvar chatId =  msg.payload.chatId;\nvar type = 'message';\n\n\nmsg.payload = {chatId : chatId, type : type, content : reply, options : opts}\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["d476e2a1.3e171"]]},{"id":"d476e2a1.3e171","type":"telegram sender","z":"fefae89d.151a98","name":"","bot":"67d7744.0749d8c","x":570,"y":220,"wires":[["f433a8a7.b7c738"]]},{"id":"f433a8a7.b7c738","type":"function","z":"fefae89d.151a98","name":"SaveMessageID","func":"context.global.keyboard.messageId = msg.payload.sentMessageId;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":760,"y":220,"wires":[[]]},{"id":"428592c6.3f0c1c","type":"telegram event","z":"fefae89d.151a98","name":"","bot":"67d7744.0749d8c","event":"callback_query","autoanswer":false,"x":220,"y":500,"wires":[["efadecb2.476d4","d5cf3751.426be8","4e4a57.ca8fa5a8","eaaf4462.796e98"]]},{"id":"efadecb2.476d4","type":"switch","z":"fefae89d.151a98","name":"Main Menu (U,D,O)","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/UpstairsMenu","vt":"str"},{"t":"eq","v":"/DownstairsMenu","vt":"str"},{"t":"eq","v":"/OutsideMenu","vt":"str"},{"t":"eq","v":"/BackMainMenu","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":500,"wires":[["939a75b9.af16c8"],["3307d13a.1582ce"],["c44bed64.bcb54"],["a096e61b.dd0698"]]},{"id":"a096e61b.dd0698","type":"function","z":"fefae89d.151a98","name":"BackMainMenu","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Upstairs\",\n                \"callback_data\" : \"/UpstairsRoomsMenu\"\n            },\n            \n            {\n                \"text\" : \"Downstairs\",\n                \"callback_data\": \"/DownstairsRoomsMenu\"\n            },\n            \n            {\n                \"text\" : \"Outside\",\n                \"callback_data\": \"/OutsideRoomsMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Main Menu:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":660,"y":560,"wires":[["7ce70d17.d9aea4"]]},{"id":"939a75b9.af16c8","type":"function","z":"fefae89d.151a98","name":"UpstairsRooms","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Master Bedroom\",\n                \"callback_data\" : \"/MasterBedroomMenu\"\n            },\n            \n            {\n                \"text\" : \"Office\",\n                \"callback_data\": \"/OfficeMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\": \"Spare Bedroom\",\n                \"callback_data\" : \"/SpareBedroomMenu\"\n            },\n            \n            {\n                \"text\" : \"Bathroom\",\n                \"callback_data\": \"/BathroomMenu\"\n            }\n            \n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/BackMainMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Rooms:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":660,"y":440,"wires":[["7ce70d17.d9aea4"]]},{"id":"480752f6.cfaa8c","type":"switch","z":"fefae89d.151a98","name":"RoomsMenu","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"/Bedroom","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":60,"wires":[[]]},{"id":"eaaf4462.796e98","type":"switch","z":"fefae89d.151a98","name":"UpstairsRoomsMenu","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/MasterBedroomMenu","vt":"str"},{"t":"eq","v":"/OfficeMenu","vt":"str"},{"t":"eq","v":"/SpareBedroomMenu","vt":"str"},{"t":"eq","v":"/BathroomMenu","vt":"str"},{"t":"eq","v":"/BackMainMenu","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":520,"y":760,"wires":[["7034497a.58eea8"],["8e2963fe.3a52a"],["999db7b.0401248"],["c5496523.c51778"],["5572f094.fcf47"]]},{"id":"450c87d0.0473d8","type":"function","z":"fefae89d.151a98","name":"Main Menu","func":"context.global.keyboard = { pending : true, messageId : msg.payload.messageId };\n\n\nvar opts = {\n    reply_to_message_id: msg.payload.messageId,\n    reply_markup: {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Rooms\",\n                \"callback_data\" : \"/RoomsMenu\"\n            },\n            {\n                \"text\" : \"States\",\n                \"callback_data\": \"/StatesMenu\"\n            }]\n        ]\n    }\n};\n\n\nvar reply = \"Main Menu\";\nvar chatId =  msg.payload.chatId;\nvar type = 'message';\n\n\nmsg.payload = {chatId : chatId, type : type, content : reply, options : opts}\nreturn [ msg ];\n\n\n\n\n\n","outputs":1,"noerr":0,"x":570,"y":100,"wires":[[]]},{"id":"3307d13a.1582ce","type":"function","z":"fefae89d.151a98","name":"DownstairsRooms","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Living Room\",\n                \"callback_data\" : \"/LivingRoomMenu\"\n            },\n            \n            {\n                \"text\" : \"Kitchen\",\n                \"callback_data\": \"/KitchenMenu\"\n            }\n        ],\n\n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/BackMainMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Rooms:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":670,"y":480,"wires":[["7ce70d17.d9aea4"]]},{"id":"c44bed64.bcb54","type":"function","z":"fefae89d.151a98","name":"OutsideRooms","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Front Garden\",\n                \"callback_data\" : \"/FrontGardenMenu\"\n            },\n            \n            {\n                \"text\" : \"Back Garden\",\n                \"callback_data\": \"/BackGardenMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\": \"Garage\",\n                \"callback_data\" : \"/GarageMenu\"\n            },\n            \n            {\n                \"text\" : \"Shed\",\n                \"callback_data\": \"/ShedMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/BackMainMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Rooms:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":660,"y":520,"wires":[["7ce70d17.d9aea4"]]},{"id":"7ce70d17.d9aea4","type":"link out","z":"fefae89d.151a98","name":"tg_sender_out","links":["1a41973.0fa6769"],"x":815,"y":520,"wires":[]},{"id":"1a41973.0fa6769","type":"link in","z":"fefae89d.151a98","name":"tg_sender_in","links":["7ce70d17.d9aea4","833f2b20.652d28","e98ae8cc.781f68","5d15a46f.e3900c"],"x":415,"y":260,"wires":[["d476e2a1.3e171"]]},{"id":"d5cf3751.426be8","type":"switch","z":"fefae89d.151a98","name":"DownstairsRoomsMenu","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/LivingRoomMenu","vt":"str"},{"t":"eq","v":"/KitchenMenu","vt":"str"},{"t":"eq","v":"/BackMainMenu","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":980,"wires":[["ed2d8cb1.c8d23"],["c5c360e1.b668d"],["a50252e3.2d2b3"]]},{"id":"a50252e3.2d2b3","type":"function","z":"fefae89d.151a98","name":"BackRoomsMenu","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Upstairs\",\n                \"callback_data\" : \"/UpstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Downstairs\",\n                \"callback_data\": \"/DownstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Outside\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Rooms:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":770,"y":1020,"wires":[["e98ae8cc.781f68"]]},{"id":"8e2963fe.3a52a","type":"function","z":"fefae89d.151a98","name":"Office","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/OfficeLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/OfficeSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/OfficeCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/UpstairsMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Office:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":710,"y":720,"wires":[["833f2b20.652d28"]]},{"id":"4e4a57.ca8fa5a8","type":"switch","z":"fefae89d.151a98","name":"OutsideRoomsMenu","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/FrontGardenMenu","vt":"str"},{"t":"eq","v":"/BackGardenMenu","vt":"str"},{"t":"eq","v":"/GarageMenu","vt":"str"},{"t":"eq","v":"/ShedMenu","vt":"str"},{"t":"eq","v":"/BackMainMenu","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":520,"y":1180,"wires":[["87eb5685.f6f338"],["fc94665c.1ebdd8"],["bfcfd189.a1e9d"],["606c8c47.0dc794"],["c855106.b7f9df"]]},{"id":"c855106.b7f9df","type":"function","z":"fefae89d.151a98","name":"BackRoomsMenu","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Upstairs\",\n                \"callback_data\" : \"/UpstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Downstairs\",\n                \"callback_data\": \"/DownstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Outside\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Rooms:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":770,"y":1260,"wires":[["5d15a46f.e3900c"]]},{"id":"833f2b20.652d28","type":"link out","z":"fefae89d.151a98","name":"tg_sender_out","links":["1a41973.0fa6769"],"x":915,"y":760,"wires":[]},{"id":"e98ae8cc.781f68","type":"link out","z":"fefae89d.151a98","name":"tg_sender_out","links":["1a41973.0fa6769"],"x":915,"y":980,"wires":[]},{"id":"5d15a46f.e3900c","type":"link out","z":"fefae89d.151a98","name":"tg_sender_out","links":["1a41973.0fa6769"],"x":915,"y":1160,"wires":[]},{"id":"999db7b.0401248","type":"function","z":"fefae89d.151a98","name":"SpareBedroom","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/SpareBedroomLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/SpareBedroomSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/SpareBedroomCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/UpstairsMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Spare Bedroom:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":740,"y":760,"wires":[["833f2b20.652d28"]]},{"id":"c5496523.c51778","type":"function","z":"fefae89d.151a98","name":"Bathroom","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/BathroomLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/BathroomSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/BathroomCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/UpstairsMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Bathroom:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":720,"y":800,"wires":[["833f2b20.652d28"]]},{"id":"7034497a.58eea8","type":"function","z":"fefae89d.151a98","name":"MasterBedroom","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/MasterBedroomLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/MasterBedroomSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/MasterBedroomCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/UpstairsMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Master Bedroom:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":740,"y":680,"wires":[["833f2b20.652d28"]]},{"id":"c5c360e1.b668d","type":"function","z":"fefae89d.151a98","name":"Kitchen","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/KitchenLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/KitchenSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/KitchenCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/DownstairsMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Kitchen:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":740,"y":980,"wires":[["e98ae8cc.781f68"]]},{"id":"ed2d8cb1.c8d23","type":"function","z":"fefae89d.151a98","name":"LivingRoom","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/LivingRoomLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/LivingRoomSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/LivingRoomCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/DownstairsMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Living Room:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":750,"y":940,"wires":[["e98ae8cc.781f68"]]},{"id":"8f7d674f.97c138","type":"function","z":"fefae89d.151a98","name":"BackMainMenu","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Upstairs\",\n                \"callback_data\" : \"/UpstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Downstairs\",\n                \"callback_data\": \"/DownstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Outside\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Main Menu\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":1060,"y":350,"wires":[[]]},{"id":"9026abe5.5cbb78","type":"switch","z":"fefae89d.151a98","name":"MasterBedroomLightsMenu","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/MasterBedroomMenu","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1200,"y":480,"wires":[[]]},{"id":"5572f094.fcf47","type":"function","z":"fefae89d.151a98","name":"BackRoomsMenu","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Upstairs\",\n                \"callback_data\" : \"/UpstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Downstairs\",\n                \"callback_data\": \"/DownstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Outside\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Rooms:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":750,"y":840,"wires":[["833f2b20.652d28"]]},{"id":"87eb5685.f6f338","type":"function","z":"fefae89d.151a98","name":"FrontGarden","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/FrontGardenLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/FrontGardenSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/FrontGardenCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Front Garden:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":750,"y":1100,"wires":[["5d15a46f.e3900c"]]},{"id":"fc94665c.1ebdd8","type":"function","z":"fefae89d.151a98","name":"BackGarden","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/BackGardenLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/BackGardenSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/BackGardenCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Back Garden:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":750,"y":1140,"wires":[["5d15a46f.e3900c"]]},{"id":"bfcfd189.a1e9d","type":"function","z":"fefae89d.151a98","name":"Garage","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/GarageLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/GarageSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/GarageCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Garage:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":740,"y":1180,"wires":[["5d15a46f.e3900c"]]},{"id":"606c8c47.0dc794","type":"function","z":"fefae89d.151a98","name":"Shed","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/ShedLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/ShedSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/ShedCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Shed:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":730,"y":1220,"wires":[["5d15a46f.e3900c"]]},{"id":"a9f364ec.f6ba68","type":"telegram receiver","z":"f1aea30b.62b99","name":"","bot":"67d7744.0749d8c","saveDataDir":"","x":170,"y":200,"wires":[[],[]]},{"id":"33e3fff5.c5037","type":"debug","z":"f1aea30b.62b99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":60,"wires":[]},{"id":"5a9d0b81.c11e24","type":"telegram command","z":"f1aea30b.62b99","name":"Main Menu","command":"Z","bot":"67d7744.0749d8c","strict":false,"x":140,"y":260,"wires":[["28dd3884.1f1378"],[]]},{"id":"28dd3884.1f1378","type":"function","z":"f1aea30b.62b99","name":"Main Menu","func":"context.global.keyboard = { pending : true, messageId : msg.payload.messageId };\n\nvar opts = \n{\nreply_to_message_id: msg.payload.messageId,\nreply_markup: \n{\n    \"inline_keyboard\": \n        [\n            [\n                {\n                    \"text\": \"Alarm\",\n                    \"callback_data\" : \"/AlarmMenu\"\n                },\n                {\n                    \"text\" : \"CCTV\",\n                    \"callback_data\": \"/CCTVMenu\"\n                }\n            ]\n        ]\n    }\n};\n\n\nvar reply = \"Main Menu\";\nvar chatId =  msg.payload.chatId;\nvar type = 'message';\n\n\nmsg.payload = {chatId : chatId, type : type, content : reply, options : opts}\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["2d882e2.2e390d2"]]},{"id":"2d882e2.2e390d2","type":"telegram sender","z":"f1aea30b.62b99","name":"","bot":"67d7744.0749d8c","x":510,"y":260,"wires":[["fded57af.d40438"]]},{"id":"fded57af.d40438","type":"function","z":"f1aea30b.62b99","name":"SaveMessageID","func":"context.global.keyboard.messageId = msg.payload.sentMessageId;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":700,"y":260,"wires":[[]]},{"id":"9afb0acc.024538","type":"telegram event","z":"f1aea30b.62b99","name":"","bot":"67d7744.0749d8c","event":"callback_query","autoanswer":false,"x":160,"y":540,"wires":[["e065650f.05b218","14cb8a8f.9aa2c5","98587f70.6ce5f","9cd097fa.d47818"]]},{"id":"e065650f.05b218","type":"switch","z":"f1aea30b.62b99","name":"Main Menu (U,D,O)","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/UpstairsMenu","vt":"str"},{"t":"eq","v":"/DownstairsMenu","vt":"str"},{"t":"eq","v":"/OutsideMenu","vt":"str"},{"t":"eq","v":"/BackMainMenu","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":540,"wires":[["938ded74.cbbe"],["a89cacc2.73ad9"],["f0cb5e1a.3b225"],["c9c73966.e91068"]]},{"id":"c9c73966.e91068","type":"function","z":"f1aea30b.62b99","name":"BackMainMenu","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Upstairs\",\n                \"callback_data\" : \"/UpstairsRoomsMenu\"\n            },\n            \n            {\n                \"text\" : \"Downstairs\",\n                \"callback_data\": \"/DownstairsRoomsMenu\"\n            },\n            \n            {\n                \"text\" : \"Outside\",\n                \"callback_data\": \"/OutsideRoomsMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Main Menu:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":600,"y":600,"wires":[["dfdc550f.373b28"]]},{"id":"938ded74.cbbe","type":"function","z":"f1aea30b.62b99","name":"UpstairsRooms","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Master Bedroom\",\n                \"callback_data\" : \"/MasterBedroomMenu\"\n            },\n            \n            {\n                \"text\" : \"Office\",\n                \"callback_data\": \"/OfficeMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\": \"Spare Bedroom\",\n                \"callback_data\" : \"/SpareBedroomMenu\"\n            },\n            \n            {\n                \"text\" : \"Bathroom\",\n                \"callback_data\": \"/BathroomMenu\"\n            }\n            \n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/BackMainMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Rooms:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":600,"y":480,"wires":[["dfdc550f.373b28"]]},{"id":"7f280e4b.46c6a","type":"switch","z":"f1aea30b.62b99","name":"RoomsMenu","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"/Bedroom","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":100,"wires":[[]]},{"id":"9cd097fa.d47818","type":"switch","z":"f1aea30b.62b99","name":"UpstairsRoomsMenu","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/MasterBedroomMenu","vt":"str"},{"t":"eq","v":"/OfficeMenu","vt":"str"},{"t":"eq","v":"/SpareBedroomMenu","vt":"str"},{"t":"eq","v":"/BathroomMenu","vt":"str"},{"t":"eq","v":"/BackMainMenu","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":460,"y":800,"wires":[["443b9a4f.296d04"],["a8a40e69.79c5e"],["243ee66c.3862ea"],["473399e4.6dad28"],["82bc9dab.c9cc9"]]},{"id":"55427ac3.89ab94","type":"function","z":"f1aea30b.62b99","name":"Main Menu","func":"context.global.keyboard = { pending : true, messageId : msg.payload.messageId };\n\n\nvar opts = {\n    reply_to_message_id: msg.payload.messageId,\n    reply_markup: {\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Rooms\",\n                \"callback_data\" : \"/RoomsMenu\"\n            },\n            {\n                \"text\" : \"States\",\n                \"callback_data\": \"/StatesMenu\"\n            }]\n        ]\n    }\n};\n\n\nvar reply = \"Main Menu\";\nvar chatId =  msg.payload.chatId;\nvar type = 'message';\n\n\nmsg.payload = {chatId : chatId, type : type, content : reply, options : opts}\nreturn [ msg ];\n\n\n\n\n\n","outputs":1,"noerr":0,"x":510,"y":140,"wires":[[]]},{"id":"a89cacc2.73ad9","type":"function","z":"f1aea30b.62b99","name":"DownstairsRooms","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Living Room\",\n                \"callback_data\" : \"/LivingRoomMenu\"\n            },\n            \n            {\n                \"text\" : \"Kitchen\",\n                \"callback_data\": \"/KitchenMenu\"\n            }\n        ],\n\n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/BackMainMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Rooms:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":610,"y":520,"wires":[["dfdc550f.373b28"]]},{"id":"f0cb5e1a.3b225","type":"function","z":"f1aea30b.62b99","name":"OutsideRooms","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Front Garden\",\n                \"callback_data\" : \"/FrontGardenMenu\"\n            },\n            \n            {\n                \"text\" : \"Back Garden\",\n                \"callback_data\": \"/BackGardenMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\": \"Garage\",\n                \"callback_data\" : \"/GarageMenu\"\n            },\n            \n            {\n                \"text\" : \"Shed\",\n                \"callback_data\": \"/ShedMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/BackMainMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Rooms:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":600,"y":560,"wires":[["dfdc550f.373b28"]]},{"id":"dfdc550f.373b28","type":"link out","z":"f1aea30b.62b99","name":"tg_sender_out","links":["8c404147.227b9"],"x":755,"y":560,"wires":[]},{"id":"8c404147.227b9","type":"link in","z":"f1aea30b.62b99","name":"tg_sender_in","links":["dfdc550f.373b28","5bc54eca.90a0f","8347eb00.5046c8","92d75495.186228"],"x":355,"y":300,"wires":[["2d882e2.2e390d2"]]},{"id":"14cb8a8f.9aa2c5","type":"switch","z":"f1aea30b.62b99","name":"DownstairsRoomsMenu","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/LivingRoomMenu","vt":"str"},{"t":"eq","v":"/KitchenMenu","vt":"str"},{"t":"eq","v":"/BackMainMenu","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":1020,"wires":[["b7f98495.bd7cb8"],["b978db75.2839b8"],["88fefe21.61f45"]]},{"id":"88fefe21.61f45","type":"function","z":"f1aea30b.62b99","name":"BackRoomsMenu","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Upstairs\",\n                \"callback_data\" : \"/UpstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Downstairs\",\n                \"callback_data\": \"/DownstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Outside\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Rooms:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":710,"y":1060,"wires":[["8347eb00.5046c8"]]},{"id":"a8a40e69.79c5e","type":"function","z":"f1aea30b.62b99","name":"Office","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/OfficeLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/OfficeSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/OfficeCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/UpstairsMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Office:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":650,"y":760,"wires":[["5bc54eca.90a0f"]]},{"id":"98587f70.6ce5f","type":"switch","z":"f1aea30b.62b99","name":"OutsideRoomsMenu","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/FrontGardenMenu","vt":"str"},{"t":"eq","v":"/BackGardenMenu","vt":"str"},{"t":"eq","v":"/GarageMenu","vt":"str"},{"t":"eq","v":"/ShedMenu","vt":"str"},{"t":"eq","v":"/BackMainMenu","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":460,"y":1220,"wires":[["8ec81de8.72856"],["8619b115.5454e"],["3675a27e.119fee"],["b8a91611.d21168"],["a76b1d2f.877db"]]},{"id":"a76b1d2f.877db","type":"function","z":"f1aea30b.62b99","name":"BackRoomsMenu","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Upstairs\",\n                \"callback_data\" : \"/UpstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Downstairs\",\n                \"callback_data\": \"/DownstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Outside\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Rooms:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":710,"y":1300,"wires":[["92d75495.186228"]]},{"id":"5bc54eca.90a0f","type":"link out","z":"f1aea30b.62b99","name":"tg_sender_out","links":["8c404147.227b9"],"x":855,"y":800,"wires":[]},{"id":"8347eb00.5046c8","type":"link out","z":"f1aea30b.62b99","name":"tg_sender_out","links":["8c404147.227b9"],"x":855,"y":1020,"wires":[]},{"id":"92d75495.186228","type":"link out","z":"f1aea30b.62b99","name":"tg_sender_out","links":["8c404147.227b9"],"x":855,"y":1200,"wires":[]},{"id":"243ee66c.3862ea","type":"function","z":"f1aea30b.62b99","name":"SpareBedroom","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/SpareBedroomLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/SpareBedroomSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/SpareBedroomCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/UpstairsMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Spare Bedroom:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":680,"y":800,"wires":[["5bc54eca.90a0f"]]},{"id":"473399e4.6dad28","type":"function","z":"f1aea30b.62b99","name":"Bathroom","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/BathroomLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/BathroomSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/BathroomCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/UpstairsMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Bathroom:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":660,"y":840,"wires":[["5bc54eca.90a0f"]]},{"id":"443b9a4f.296d04","type":"function","z":"f1aea30b.62b99","name":"MasterBedroom","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/MasterBedroomLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/MasterBedroomSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/MasterBedroomCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/UpstairsMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Master Bedroom:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":680,"y":720,"wires":[["5bc54eca.90a0f"]]},{"id":"b978db75.2839b8","type":"function","z":"f1aea30b.62b99","name":"Kitchen","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/KitchenLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/KitchenSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/KitchenCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/DownstairsMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Kitchen:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":680,"y":1020,"wires":[["8347eb00.5046c8"]]},{"id":"b7f98495.bd7cb8","type":"function","z":"f1aea30b.62b99","name":"LivingRoom","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/LivingRoomLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/LivingRoomSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/LivingRoomCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/DownstairsMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Living Room:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":690,"y":980,"wires":[["8347eb00.5046c8"]]},{"id":"af6ee944.2ff4a8","type":"function","z":"f1aea30b.62b99","name":"BackMainMenu","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Upstairs\",\n                \"callback_data\" : \"/UpstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Downstairs\",\n                \"callback_data\": \"/DownstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Outside\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Main Menu\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":1000,"y":390,"wires":[[]]},{"id":"f8741bc1.ce80c8","type":"switch","z":"f1aea30b.62b99","name":"MasterBedroomLightsMenu","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/MasterBedroomMenu","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":520,"wires":[[]]},{"id":"82bc9dab.c9cc9","type":"function","z":"f1aea30b.62b99","name":"BackRoomsMenu","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Upstairs\",\n                \"callback_data\" : \"/UpstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Downstairs\",\n                \"callback_data\": \"/DownstairsMenu\"\n            },\n            \n            {\n                \"text\" : \"Outside\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Rooms:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":690,"y":880,"wires":[["5bc54eca.90a0f"]]},{"id":"8ec81de8.72856","type":"function","z":"f1aea30b.62b99","name":"FrontGarden","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/FrontGardenLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/FrontGardenSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/FrontGardenCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Front Garden:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":690,"y":1140,"wires":[["92d75495.186228"]]},{"id":"8619b115.5454e","type":"function","z":"f1aea30b.62b99","name":"BackGarden","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/BackGardenLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/BackGardenSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/BackGardenCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Back Garden:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":690,"y":1180,"wires":[["92d75495.186228"]]},{"id":"3675a27e.119fee","type":"function","z":"f1aea30b.62b99","name":"Garage","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/GarageLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/GarageSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/GarageCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Garage:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":680,"y":1220,"wires":[["92d75495.186228"]]},{"id":"b8a91611.d21168","type":"function","z":"f1aea30b.62b99","name":"Shed","func":"var messageId = context.global.keyboard.messageId;\n\nvar reply_markup = \n{\n    \"inline_keyboard\": \n    [\n        [\n            {\n                \"text\": \"Lights\",\n                \"callback_data\" : \"/ShedLightsMenu\"\n            },\n            \n            {\n                \"text\" : \"Sensors\",\n                \"callback_data\": \"/ShedSensorsMenu\"\n            },\n            \n            {\n                \"text\" : \"Cameras\",\n                \"callback_data\": \"/ShedCamerasMenu\"\n            }\n        ],\n        \n        [\n            {\n                \"text\" : \"Back\",\n                \"callback_data\": \"/OutsideMenu\"\n            }\n        ]\n    ]\n    \n};\n\nvar options = \n{\n    chat_id : msg.payload.chatId,\n    reply_markup : reply_markup,\n    message_id : messageId\n};\n\nmsg.payload.type = 'editMessageText';\nmsg.payload.content = \"Shed:\";\nmsg.payload.options = options;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":670,"y":1260,"wires":[["92d75495.186228"]]},{"id":"2e13cd42.706902","type":"delay","z":"a83b195e.5fb468","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":2360,"wires":[["fe50d048.db0dc"]]},{"id":"d9e0b37.3b9855","type":"inject","z":"a83b195e.5fb468","name":"full mqtt","topic":"","payload":"{\"battery\":89,\"linkquality\":31,\"counter\":1,\"brightness\":255,\"action\":\"off-press\",\"duration\":0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":360,"wires":[["d33ef57b.8d4ae8","c90312d2.20294","b621fc8d.d19b6"]]},{"id":"ac69df20.1ba77","type":"function","z":"a3492372.fb17c","name":"Click:Type","func":"var msg1 = {}; // single\nvar msg2 = {}; // double\nvar msg3 = {}; // triple\nvar msg4 = {}; // quadruple\nvar msg5 = {}; // many\nvar msg6 = {}; // long\nvar msg7 = {}; // battery,voltage\nvar msg8 = {}; // linkquality\n\nvar rb = JSON.parse(msg.payload);\n\nvar click = rb.click;\nvar battery = rb.battery;\nvar voltage = rb.voltage;\nvar linkquality = rb.linkquality;\n\n\nif ( click === \"single\" )\n{\nmsg1.payload = { click: \"single\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [msg1,null,null,null,null,null,msg7,msg8];\n}\n\n\nelse if (click === \"double\" )\n{\nmsg2.payload = { click: \"double\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,msg2,null,null,null,null,msg7,msg8];\n}\n\n\nelse if (click === \"triple\" )\n{\nmsg3.payload = { click: \"triple\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,msg3,null,null,null,msg7,msg8];\n}\n\n\nelse if (click === \"quadruple\" )\n{\nmsg4.payload = { click: \"quadruple\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,null,msg4,null,null,msg7,msg8];\n}\n\n\nelse if (click === \"many\" )\n{\nmsg5.payload = { click: \"many\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,null,null,msg5,null,msg7,msg8];\n}\n\n\nelse if (click === \"long\" )\n{\nmsg6.payload = { click: \"long\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,null,null,null,msg6,msg7,msg8];\n}\n","outputs":8,"noerr":0,"x":430,"y":240,"wires":[["f7e6fdc.08412","ed3a937a.ab405"],["9a92b60f.b2cff8","e18ef914.5406f8"],["e0772951.48f528","e5baab8e.dfce08"],["cad5c560.95f918","86ae9562.e39078"],["28200405.ddda9c","d6d81370.5a0ce"],["b031b5a3.4e38c8","c35687a0.028098"],["8f83d436.0525a8"],["e1438263.afe75"]],"inputLabels":["xrb_bedroom1"],"outputLabels":["single","double","triple","quadruple","many","long","battery,voltage","linkquality"]},{"id":"c90312d2.20294","type":"function","z":"a83b195e.5fb468","name":"action:hold","func":"var msg1 = {}; // on-hold\nvar msg2 = {}; // up-hold\nvar msg3 = {}; // down-hold\nvar msg4 = {}; // off-hold\nvar msg5 = {}; // counter\nvar msg6 = {}; // brightness\nvar msg7 = {}; // battery,voltage\nvar msg8 = {}; // linkquality\n\nvar hr = JSON.parse(msg.payload);\n\nvar action = hr.action;\nvar counter = hr.counter;\nvar brightness = hr.brightness;\nvar battery = hr.battery;\nvar voltage = hr.voltage;\nvar linkquality = hr.linkquality;\n\nif ( action === \"on-hold\" )\n{\nmsg1.payload = { action: \"on-hold\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [msg1,null,null,null,msg5,msg6,msg7,msg8];\n}\n\nelse if ( action === \"up-hold\" )\n{\nmsg2.payload = { action: \"up-hold\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,msg2,null,null,msg5,msg6,msg7,msg8];\n}\n\nelse if ( action === \"down-hold\" )\n{\nmsg3.payload = { action: \"down-hold\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,msg3,msg4,msg5,msg6,msg7,msg8];\n}\n\nelse if ( action === \"off-hold\" )\n{\nmsg4.payload = { action: \"off-hold\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,null,msg4,msg5,msg6,msg7,msg8];\n}\n","outputs":8,"noerr":0,"x":390,"y":400,"wires":[["9b85d7fa.dfe478","c7b6bc5.ccae14"],["e314f9.9d824b08","62301f3.b0797e"],["3e6d3354.89fecc","a10c1357.07ec8"],["58d562cd.5ddeec","6423b786.b5c978"],["b2eb9c6e.8e27c"],["e671f569.92b528"],["3177ede9.7edf72"],["63baa26e.79ea9c"]]},{"id":"8da151d2.09bbe","type":"link out","z":"a3492372.fb17c","name":"xrb_double","links":["1d28300d.0b2ac"],"x":515,"y":620,"wires":[]},{"id":"fc676f71.8db49","type":"link out","z":"a3492372.fb17c","name":"xrb_triple","links":["771973e1.7e314c"],"x":515,"y":660,"wires":[]},{"id":"75bb1409.8469cc","type":"link out","z":"a3492372.fb17c","name":"xrb_quadruple","links":["5187633c.e04f4c"],"x":515,"y":700,"wires":[]},{"id":"77dca3fc.895c3c","type":"link out","z":"a3492372.fb17c","name":"xrb_many","links":["90bd5dc2.a3b48"],"x":515,"y":740,"wires":[]},{"id":"b59da13.717fb6","type":"link out","z":"a3492372.fb17c","name":"xrb_single","links":["df52d756.e1efb8"],"x":515,"y":580,"wires":[]},{"id":"94fb67d1.674588","type":"comment","z":"a3492372.fb17c","name":"Bedside Toggle","info":"","x":620,"y":580,"wires":[]},{"id":"7a0a1fcb.d7d1d","type":"comment","z":"a3492372.fb17c","name":"Master Bedroom Toggle","info":"","x":640,"y":620,"wires":[]},{"id":"d8355e6d.b06cc","type":"comment","z":"a3492372.fb17c","name":"Heater Toggle","info":"","x":610,"y":660,"wires":[]},{"id":"9e1fe478.a3c9f8","type":"comment","z":"a3492372.fb17c","name":"Bed Toggle","info":"","x":600,"y":700,"wires":[]},{"id":"81f54990.3dac08","type":"function","z":"a3492372.fb17c","name":"Click:Type","func":"var msg1 = {}; // single\nvar msg2 = {}; // double\nvar msg3 = {}; // triple\nvar msg4 = {}; // quadruple\nvar msg5 = {}; // many\nvar msg6 = {}; // long\nvar msg7 = {}; // battery,voltage\nvar msg8 = {}; // linkquality\n\nvar sb = JSON.parse(msg.payload);\n\nvar click = sb.click;\nvar battery =sb.battery;\nvar voltage = sb.voltage;\nvar linkquality = sb.linkquality;\n\n\nif ( click === \"single\" )\n{\nmsg1.payload = { click: \"single\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [msg1,null,null,null,null,null,msg7,msg8];\n}\n\nelse if (click === \"double\" )\n{\nmsg2.payload = { click: \"double\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,msg2,null,null,null,null,msg7,msg8];\n}\n\nelse if (click === \"triple\" )\n{\nmsg3.payload = { click: \"triple\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,msg3,null,null,null,msg7,msg8];\n}\n\nelse if (click === \"quadruple\" )\n{\nmsg4.payload = { click: \"quadruple\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,null,msg4,null,null,msg7,msg8];\n}\n\nelse if (click === \"many\" )\n{\nmsg5.payload = { click: \"many\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,null,null,msg5,null,msg7,msg8];\n}\n\nelse if (click === \"long\" )\n{\nmsg6.payload = { click: \"long\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,null,null,null,msg6,msg7,msg8];\n}\n","outputs":8,"noerr":0,"x":340,"y":680,"wires":[["b59da13.717fb6"],["8da151d2.09bbe"],["fc676f71.8db49"],["75bb1409.8469cc"],[],["77dca3fc.895c3c"],["b176caab.23ec98"],["7ccbe359.2298dc"]]},{"id":"e3e927f8.232288","type":"link out","z":"a3492372.fb17c","name":"xrb2_double","links":["1d28300d.0b2ac"],"x":475,"y":920,"wires":[]},{"id":"29b6be98.2c0ce2","type":"link out","z":"a3492372.fb17c","name":"xrb2_triple","links":["771973e1.7e314c"],"x":475,"y":960,"wires":[]},{"id":"58149d25.3eae34","type":"link out","z":"a3492372.fb17c","name":"xrb2_quadruple","links":["5187633c.e04f4c"],"x":475,"y":1000,"wires":[]},{"id":"dcca955a.f451b8","type":"link out","z":"a3492372.fb17c","name":"xrb2_many","links":[],"x":475,"y":1040,"wires":[]},{"id":"a870fe59.b4f7f","type":"link out","z":"a3492372.fb17c","name":"xrb2_single","links":["df52d756.e1efb8"],"x":475,"y":880,"wires":[]},{"id":"94e629c1.240b38","type":"comment","z":"a3492372.fb17c","name":"Bedside Toggle","info":"","x":580,"y":880,"wires":[]},{"id":"c9dabdea.cf0d7","type":"comment","z":"a3492372.fb17c","name":"Master Bedroom Toggle","info":"","x":600,"y":920,"wires":[]},{"id":"557e4011.3076e","type":"comment","z":"a3492372.fb17c","name":"Heater Toggle","info":"","x":570,"y":960,"wires":[]},{"id":"a59c1a72.cbb778","type":"comment","z":"a3492372.fb17c","name":"Bed Toggle","info":"","x":560,"y":1000,"wires":[]},{"id":"b621fc8d.d19b6","type":"function","z":"a83b195e.5fb468","name":"action:release","func":"var msg1 = {}; // on-hold-release\nvar msg2 = {}; // up-hold-release\nvar msg3 = {}; // down-hold-release\nvar msg4 = {}; // off-hold-release\nvar msg5 = {}; // counter\nvar msg6 = {}; // brightness\nvar msg7 = {}; // battery,voltage\nvar msg8 = {}; // linkquality\n\nvar hr = JSON.parse(msg.payload);\n\nvar action = hr.action;\nvar counter = hr.counter;\nvar brightness = hr.brightness;\nvar battery = hr.battery;\nvar voltage = hr.voltage;\nvar linkquality = hr.linkquality;\n\nif ( action === \"on-hold-release\" )\n{\nmsg1.payload = { action: \"on-hold-release\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [msg1,null,null,null,msg5,msg6,msg7,msg8];\n}\n\nelse if ( action === \"up-hold-release\" )\n{\nmsg2.payload = { action: \"up-hold-release\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,msg2,null,null,msg5,msg6,msg7,msg8];\n}\n\nelse if ( action === \"down-hold-release\" )\n{\nmsg3.payload = { action: \"down-hold-release\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,msg3,msg4,msg5,msg6,msg7,msg8];\n}\n\nelse if ( action === \"off-hold-release\" )\n{\nmsg4.payload = { action: \"off-hold-release\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,null,msg4,msg5,msg6,msg7,msg8];\n}\n","outputs":8,"noerr":0,"x":400,"y":620,"wires":[["d6a430f3.e4599","e71ef367.22411"],["7ee43fe4.9bc76","189a909b.c7100f"],["73072df6.511204","7db4e504.e43d8c"],["dc7e3468.99e4a8","56bbf267.d4aeec"],["5f08ab5d.cbe884"],["ca41611d.dbca4"],["7f4e8ca9.03ce24"],["3bdcca25.176346"]]},{"id":"703464c7.a2e32c","type":"mqtt in","z":"6afdb4c3.b4193c","name":"xds_bedroom","topic":"zigbee2mqtt/xds_bedroom","qos":"2","datatype":"auto","broker":"dafc06f7.05ab18","x":170,"y":160,"wires":[["169af5a2.0782fa"]]},{"id":"169af5a2.0782fa","type":"function","z":"6afdb4c3.b4193c","name":"contact","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nvar ds = JSON.parse(msg.payload);\n\nvar contact = ds.contact;\nvar battery = ds.battery;\nvar voltage = ds.voltage;\nvar linkquality = ds.linkquality;\n\nif ( contact === true )\n{\nmsg1.payload = { contact: false };\nmsg3.payload = { battery, voltage };\nmsg4.payload = { linkquality: linkquality };\n\nreturn [msg1,null,msg3,msg4];\n}\n\nelse if ( contact === false )\n{\nmsg1.payload = { contact: true };\nmsg3.payload = { battery, voltage };\nmsg4.payload = { linkquality: linkquality };\n\nreturn [null,msg1,msg3,msg4];\n}\n\n\n\n/*\nreturn [[[[null],msg2],msg3],msg4];\n\n*/","outputs":4,"noerr":0,"x":360,"y":160,"wires":[["51cf5f3f.a122"],["51cf5f3f.a122"],["c8c21170.9f20b"],["5cde378c.498ca8"]],"outputLabels":["Open","Closed","Battery","Link Quality"]},{"id":"22e7b489.6f45bc","type":"inject","z":"6afdb4c3.b4193c","name":"full mqtt open false","topic":"","payload":"{\"battery\":100,\"voltage\":3025,\"linkquality\":86,\"contact\":false}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["169af5a2.0782fa"]]},{"id":"20bb722a.6b96ee","type":"inject","z":"6afdb4c3.b4193c","name":"full mqtt closed true","topic":"","payload":"{\"battery\":100,\"voltage\":3025,\"linkquality\":92,\"contact\":true}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["169af5a2.0782fa"]]},{"id":"cc3ff79c.fa2038","type":"function","z":"6afdb4c3.b4193c","name":"Action: Press","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nvar a = JSON.parse(msg.payload);\n\nvar action = a.action;\n\n\nif ( action == \"on-press\" )\n{\nmsg1.payload = \"on-press\";\nreturn [msg1,null,null,null];\n}\n\nelse if (action == \"up-press\" )\n{\nmsg2.payload = \"up-press\";\nreturn [null,msg2,null,null];\n}\n\nelse if (action == \"down-press\" )\n{\nmsg3.payload = \"down-press\";\nreturn [null,null,msg3,null];\n}\n\nelse if (action == \"off-press\" )\n{\nmsg4.payload = \"off-press\";\nreturn [null,null,null,msg4];\n}\n\n/*\n\n*/","outputs":4,"noerr":0,"x":970,"y":220,"wires":[[],[],[],[]]},{"id":"6613a515.c899fc","type":"function","z":"6afdb4c3.b4193c","name":"Contact","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nvar ds = JSON.parse(msg.payload);\n\nvar contact = ds.contact;\nvar battery = ds.battery;\nvar linkquality = ds.linkquality;\n\nif ( contact === true )\n{\nmsg1.payload = false;\nmsg3.payload = battery;\nmsg4.payload = linkquality;\n\nreturn [[[[null],msg2],msg3],msg4];\n}\n\nelse if ( contact === false )\n{\nmsg1.payload = true;\nmsg3.payload = battery;\nmsg4.payload = linkquality;\n\nreturn [[[[msg1],null],msg3],msg4];\n}\n\n\n\n/*\n\n*/","outputs":4,"noerr":0,"x":960,"y":160,"wires":[[],[],[],[]],"outputLabels":["Open","Closed","Battery","Link Quality"]},{"id":"90f63476.2371a8","type":"function","z":"6afdb4c3.b4193c","name":"Contact","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nvar ds = JSON.parse(msg.payload);\n\nvar contact = ds.contact;\nvar battery = ds.battery;\nvar linkquality = ds.linkquality;\n\nif ( contact === true )\n{\nmsg1.payload = false;\nmsg3.payload = battery;\nmsg4.payload = linkquality;\n\nreturn [msg1,null,msg3,msg4];\n}\n\nelse if ( contact === false )\n{\nmsg1.payload = true;\nmsg3.payload = battery;\nmsg4.payload = linkquality;\n\nreturn [null,msg1,msg3,msg4];\n}\n\n\n\n/*\n\n*/","outputs":4,"noerr":0,"x":960,"y":100,"wires":[[],[],[],[]],"outputLabels":["Open","Closed","Battery","Link Quality"]},{"id":"f1b8840e.c923e8","type":"inject","z":"a3492372.fb17c","name":"full mqtt","topic":"","payload":"{\"battery\":100,\"voltage\":3022,\"linkquality\":84,\"click\":\"single\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["ac69df20.1ba77"]]},{"id":"b031b5a3.4e38c8","type":"link out","z":"a3492372.fb17c","name":"xrb_many","links":["90bd5dc2.a3b48"],"x":595,"y":360,"wires":[]},{"id":"9cd2edbb.1b27","type":"function","z":"a3492372.fb17c","name":"Click:Type","func":"var msg1 = {}; // single\nvar msg2 = {}; // double\nvar msg3 = {}; // triple\nvar msg4 = {}; // quadruple\nvar msg5 = {}; // many\nvar msg6 = {}; // long\nvar msg7 = {}; // battery,voltage\nvar msg8 = {}; // linkquality\n\nvar sb = JSON.parse(msg.payload);\n\nvar click = sb.click;\nvar battery =sb.battery;\nvar voltage = sb.voltage;\nvar linkquality = sb.linkquality;\n\n\nif ( click === \"single\" )\n{\nmsg1.payload = { click: \"single\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [msg1,null,null,null,null,null,msg7,msg8];\n}\n\nelse if (click === \"double\" )\n{\nmsg2.payload = { click: \"double\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,msg2,null,null,null,null,msg7,msg8];\n}\n\nelse if (click === \"triple\" )\n{\nmsg3.payload = { click: \"triple\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,msg3,null,null,null,msg7,msg8];\n}\n\nelse if (click === \"quadruple\" )\n{\nmsg4.payload = { click: \"quadruple\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,null,msg4,null,null,msg7,msg8];\n}\n\nelse if (click === \"many\" )\n{\nmsg5.payload = { click: \"many\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,null,null,msg5,null,msg7,msg8];\n}\n\nelse if (click === \"long\" )\n{\nmsg6.payload = { click: \"long\" };\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,null,null,null,msg6,msg7,msg8];\n}\n","outputs":8,"noerr":0,"x":350,"y":960,"wires":[["a870fe59.b4f7f"],["e3e927f8.232288"],["29b6be98.2c0ce2"],["58149d25.3eae34"],["dcca955a.f451b8"],[],["f050fc7b.eb159"],["29ad534b.4266dc"]]},{"id":"d53049f3.d0df28","type":"function","z":"6afdb4c3.b4193c","name":"occupancy","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\n\nvar ms = JSON.parse(msg.payload);\n\nvar occupancy = ms.occupancy;\nvar illuminance = ms.illuminance;\nvar battery = ms.battery;\nvar voltage = ms.voltage;\nvar linkquality = ms.linkquality;\n\nif ( occupancy === true )\n{\nmsg1.payload = { occupancy: true };\nmsg3.payload = { illuminance: illuminance };\nmsg4.payload = { battery, voltage };\nmsg5.payload = { linkquality: linkquality };\n\nreturn [msg1,null,msg3,msg4,msg5];\n}\n\nelse if ( occupancy === false )\n{\nmsg1.payload = { occupancy: false };\nmsg3.payload = { illuminance: illuminance };\nmsg4.payload = { battery, voltage };\nmsg5.payload = { linkquality: linkquality };\n\nreturn [msg1,null,msg3,msg4,msg5];\n}\n\n\n\n/*\nreturn [[[[null],msg2],msg3],msg4];\n\n*/","outputs":5,"noerr":0,"x":310,"y":680,"wires":[["ce0216b4.6ef288"],["ce0216b4.6ef288"],["19c3606.db093a"],["1ef2fd19.3e37f3"],["d6dc7bc.2d1b088"]],"outputLabels":["Open","Closed","Battery","Link Quality",""]},{"id":"926791b7.77bae","type":"mqtt in","z":"6afdb4c3.b4193c","name":"xms_bedroom","topic":"zigbee2mqtt/xms_bedroom1","qos":"2","datatype":"auto","broker":"dafc06f7.05ab18","x":130,"y":680,"wires":[["d53049f3.d0df28"]]},{"id":"83732d88.c6395","type":"function","z":"6afdb4c3.b4193c","name":"temperature","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\n\nvar ts = JSON.parse(msg.payload);\n\nvar temperature = ts.temperature;\nvar humidity = ts.humidity;\nvar pressure = ts.pressure;\nvar battery = ts.battery;\nvar voltage = ts.voltage;\nvar linkquality = ts.linkquality;\n\nmsg1.payload = { temperature: temperature };\nmsg2.payload = { humidity: humidity };\nmsg3.payload = { pressure: pressure };\nmsg4.payload = { battery, voltage };\nmsg5.payload = { linkquality: linkquality };\n\nreturn [msg1,msg2,msg3,msg4,msg5];\n\n\n/*\nreturn [[[[null],msg2],msg3],msg4];\n\n*/","outputs":5,"noerr":0,"x":310,"y":1380,"wires":[["c6ddcb61.f2e2d8"],["e53608c0.bdf5e8"],["bc61a0b1.db769"],["87898caf.0012d"],["84fbe98b.da21a8"]],"outputLabels":["Open","Closed","Battery","Link Quality",""]},{"id":"8718732c.9277","type":"mqtt in","z":"6afdb4c3.b4193c","name":"xvs_washingmachine","topic":"zigbee2mqtt/xvs_washingmachine","qos":"2","datatype":"auto","broker":"dafc06f7.05ab18","x":100,"y":980,"wires":[["445d28f4.107528"]]},{"id":"445d28f4.107528","type":"function","z":"6afdb4c3.b4193c","name":"action","func":"var msg1 = {}; // drop\nvar msg2 = {}; // tilt\nvar msg3 = {}; // vibration\nvar msg4 = {}; // touch\nvar msg5 = {}; // sensitivity\nvar msg6 = {}; // strength\nvar msg7 = {}; // battery,voltage\nvar msg8 = {}; // linkquality\n\nvar vs = JSON.parse(msg.payload);\n\nvar action = vs.action;\nvar sensitivity = vs.sensitivity\nvar strength = vs.strength\nvar battery = vs.battery;\nvar voltage = vs.voltage;\nvar linkquality = vs.linkquality;\n\n\nif ( action === \"drop\" )\n{\nmsg1.payload = { action: \"drop\" };\nmsg5.payload = { battery, voltage };\nmsg6.payload = { linkquality: linkquality };\nreturn [msg1,null,null,null,msg5,msg6,msg7,msg8];\n}\n\nelse if ( action === \"tilt\" )\n{\nmsg2.payload = { action: \"tilt\" };\nmsg5.payload = { battery, voltage };\nmsg6.payload = { linkquality: linkquality };\nreturn [null,msg2,null,null,msg5,msg6,msg7,msg8];\n}\n\nelse if ( action === \"vibration\" )\n{\nmsg3.payload = { action: \"vibration\" };\nmsg5.payload = { battery, voltage };\nmsg6.payload = { linkquality: linkquality };\nreturn [null,null,msg3,null,msg5,msg6,msg7,msg8];\n}\n\nelse if ( action === \"touch\" )\n{\nmsg4.payload = { action: \"touch\" };\nmsg5.payload = { battery, voltage };\nmsg6.payload = { linkquality: linkquality };\nreturn [null,null,null,msg4,msg5,msg6,msg7,msg8];\n}\n\n/*\n\n*/","outputs":8,"noerr":0,"x":290,"y":980,"wires":[["a2380163.ac2c1"],["a2380163.ac2c1"],["a2380163.ac2c1"],["a2380163.ac2c1"],["67e0f47e.07001c"],["67e02624.526bd8"],["6016f19f.26aa9"],["1617e1a9.5cc8ce"]]},{"id":"d584d71b.21c1b8","type":"mqtt in","z":"6afdb4c3.b4193c","name":"xts_bedroom","topic":"zigbee2mqtt/xts_bedroom","qos":"2","datatype":"auto","broker":"dafc06f7.05ab18","x":90,"y":1380,"wires":[["83732d88.c6395"]]},{"id":"485fabb3.c3d954","type":"inject","z":"6afdb4c3.b4193c","name":"full mqtt open false","topic":"","payload":"{\"temperature\":24.9,\"linkquality\":42,\"humidity\":64.2,\"pressure\":1001.7,\"battery\":31,\"voltage\":2825}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1280,"wires":[["83732d88.c6395"]]},{"id":"26d12d76.ed6d12","type":"inject","z":"6afdb4c3.b4193c","name":"full mqtt open false","topic":"","payload":"{\"battery\":100,\"voltage\":3035,\"linkquality\":110,\"angle\":79,\"angle_x\":6,\"angle_y\":-78,\"angle_z\":11,\"angle_x_absolute\":84,\"angle_y_absolute\":168,\"action\":\"tilt\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":920,"wires":[["445d28f4.107528"]]},{"id":"d33ef57b.8d4ae8","type":"function","z":"a83b195e.5fb468","name":"action:press","func":"var msg1 = {}; // on-press\nvar msg2 = {}; // up-press\nvar msg3 = {}; // down-press\nvar msg4 = {}; // off-press\nvar msg5 = {}; // counter\nvar msg6 = {}; // brightness\nvar msg7 = {}; // battery,voltage\nvar msg8 = {}; // linkquality\n\nvar hr = JSON.parse(msg.payload);\n\nvar action = hr.action;\nvar counter = hr.counter;\nvar brightness = hr.brightness;\nvar battery = hr.battery;\nvar voltage = hr.voltage;\nvar linkquality = hr.linkquality;\n\nif ( action === \"on-press\" )\n{\nmsg1.payload = { action: \"on-press\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [msg1,null,null,null,msg5,msg6,msg7,msg8];\n}\n\nelse if ( action === \"up-press\" )\n{\nmsg2.payload = { action: \"up-press\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,msg2,null,null,msg5,msg6,msg7,msg8];\n}\n\nelse if ( action === \"down-press\" )\n{\nmsg3.payload = { action: \"down-press\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,msg3,msg4,msg5,msg6,msg7,msg8];\n}\n\nelse if ( action === \"off-press\" )\n{\nmsg4.payload = { action: \"off-press\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,null,msg4,msg5,msg6,msg7,msg8];\n}\n","outputs":8,"noerr":0,"x":390,"y":180,"wires":[["976a5a69.0efbb8","91e38b22.1ca328"],["89cd411f.7b4eb","f69881cd.37e"],["48ff7a96.877794","d6770d62.41f1"],["ebc64255.fc6c6","b388e58.a2ece18"],["81ec3e8e.e36e8"],["80d8f64d.8a1668"],["e05bd42b.8891e8"],["460606eb.807658"]]},{"id":"e05bd42b.8891e8","type":"link out","z":"a83b195e.5fb468","name":"hrs_master_bedroom_battery_out","links":["c70619a5.805b78","bb927ecd.ff943"],"x":415,"y":260,"wires":[]},{"id":"460606eb.807658","type":"link out","z":"a83b195e.5fb468","name":"hrs_master_bedroom_linkquality_out","links":["e1cde913.5a30e8","ebe15eb6.ac0b4"],"x":455,"y":260,"wires":[]},{"id":"80d8f64d.8a1668","type":"link out","z":"a83b195e.5fb468","name":"hrs_master_bedroom_brightness_out","links":["5f7061ca.9f66b","1d14d3fe.83335c"],"x":375,"y":260,"wires":[]},{"id":"81ec3e8e.e36e8","type":"link out","z":"a83b195e.5fb468","name":"hrs_master_bedroom_counter_out","links":["251b9f24.913d3","825d8b1.a57bb78"],"x":335,"y":260,"wires":[]},{"id":"91e38b22.1ca328","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_on-press_out","links":["7ea9f789.d4a918","f3035bcc.71b0d8"],"x":335,"y":100,"wires":[]},{"id":"f69881cd.37e","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_up-press_out","links":["7ea9f789.d4a918","f3035bcc.71b0d8"],"x":375,"y":100,"wires":[]},{"id":"d6770d62.41f1","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_down-press_out","links":["7ea9f789.d4a918","f3035bcc.71b0d8"],"x":415,"y":100,"wires":[]},{"id":"b388e58.a2ece18","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_off-press_out","links":["7ea9f789.d4a918","f3035bcc.71b0d8"],"x":455,"y":100,"wires":[]},{"id":"bb927ecd.ff943","type":"link in","z":"3a8efff1.55d72","name":"hrs_master_bedroom_battery_in","links":["e05bd42b.8891e8","7f4e8ca9.03ce24","3177ede9.7edf72"],"x":195,"y":260,"wires":[["71f1e37a.2cec8c"]]},{"id":"ebe15eb6.ac0b4","type":"link in","z":"3a8efff1.55d72","name":"hrs_master_bedroom_linkquality_in","links":["3bdcca25.176346","63baa26e.79ea9c","460606eb.807658"],"x":195,"y":320,"wires":[["8bde641.26c3b98"]]},{"id":"825d8b1.a57bb78","type":"link in","z":"3a8efff1.55d72","name":"hrs_master_bedroom_counter_in","links":["b2eb9c6e.8e27c","81ec3e8e.e36e8","5f08ab5d.cbe884"],"x":195,"y":140,"wires":[["ed293e6d.62e5b"]]},{"id":"1d14d3fe.83335c","type":"link in","z":"3a8efff1.55d72","name":"hrs_master_bedroom_brightness_in","links":["80d8f64d.8a1668","e671f569.92b528","ca41611d.dbca4"],"x":195,"y":200,"wires":[["c5830c9e.cf849"]]},{"id":"f3035bcc.71b0d8","type":"link in","z":"3a8efff1.55d72","name":"hr_master_bedroom_in","links":["91e38b22.1ca328","f69881cd.37e","d6770d62.41f1","b388e58.a2ece18","c7b6bc5.ccae14","62301f3.b0797e","a10c1357.07ec8","6423b786.b5c978","e71ef367.22411","189a909b.c7100f","7db4e504.e43d8c","56bbf267.d4aeec","43da531f.f4292c","22fc91e.ef2e36e","dcdc933a.7576f","1ba17b8b.88fc44"],"x":195,"y":80,"wires":[["3ebcaf6.4bfb15"]]},{"id":"c7b6bc5.ccae14","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_on-press_out","links":["7ea9f789.d4a918","f3035bcc.71b0d8"],"x":335,"y":320,"wires":[]},{"id":"62301f3.b0797e","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_up-press_out","links":["7ea9f789.d4a918","f3035bcc.71b0d8"],"x":375,"y":320,"wires":[]},{"id":"a10c1357.07ec8","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_down-press_out","links":["7ea9f789.d4a918","f3035bcc.71b0d8"],"x":415,"y":320,"wires":[]},{"id":"6423b786.b5c978","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_off-press_out","links":["7ea9f789.d4a918","f3035bcc.71b0d8"],"x":455,"y":320,"wires":[]},{"id":"3177ede9.7edf72","type":"link out","z":"a83b195e.5fb468","name":"hrs_master_bedroom_battery_out","links":["c70619a5.805b78","bb927ecd.ff943"],"x":415,"y":480,"wires":[]},{"id":"63baa26e.79ea9c","type":"link out","z":"a83b195e.5fb468","name":"hrs_master_bedroom_linkquality_out","links":["e1cde913.5a30e8","ebe15eb6.ac0b4"],"x":455,"y":480,"wires":[]},{"id":"e671f569.92b528","type":"link out","z":"a83b195e.5fb468","name":"hrs_master_bedroom_brightness_out","links":["5f7061ca.9f66b","1d14d3fe.83335c"],"x":375,"y":480,"wires":[]},{"id":"b2eb9c6e.8e27c","type":"link out","z":"a83b195e.5fb468","name":"hrs_master_bedroom_counter_out","links":["251b9f24.913d3","825d8b1.a57bb78"],"x":335,"y":480,"wires":[]},{"id":"e71ef367.22411","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_on-press_out","links":["7ea9f789.d4a918","f3035bcc.71b0d8"],"x":335,"y":540,"wires":[]},{"id":"189a909b.c7100f","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_up-press_out","links":["7ea9f789.d4a918","f3035bcc.71b0d8"],"x":375,"y":540,"wires":[]},{"id":"7db4e504.e43d8c","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_down-press_out","links":["7ea9f789.d4a918","f3035bcc.71b0d8"],"x":415,"y":540,"wires":[]},{"id":"56bbf267.d4aeec","type":"link out","z":"a83b195e.5fb468","name":"hr_master_bedroom_off-press_out","links":["7ea9f789.d4a918","f3035bcc.71b0d8"],"x":455,"y":540,"wires":[]},{"id":"7f4e8ca9.03ce24","type":"link out","z":"a83b195e.5fb468","name":"hrs_master_bedroom_battery_out","links":["c70619a5.805b78","bb927ecd.ff943"],"x":415,"y":700,"wires":[]},{"id":"3bdcca25.176346","type":"link out","z":"a83b195e.5fb468","name":"hrs_master_bedroom_linkquality_out","links":["e1cde913.5a30e8","ebe15eb6.ac0b4"],"x":455,"y":700,"wires":[]},{"id":"ca41611d.dbca4","type":"link out","z":"a83b195e.5fb468","name":"hrs_master_bedroom_brightness_out","links":["5f7061ca.9f66b","1d14d3fe.83335c"],"x":375,"y":700,"wires":[]},{"id":"5f08ab5d.cbe884","type":"link out","z":"a83b195e.5fb468","name":"hrs_master_bedroom_counter_out","links":["251b9f24.913d3","825d8b1.a57bb78"],"x":335,"y":700,"wires":[]},{"id":"8f83d436.0525a8","type":"link out","z":"a3492372.fb17c","name":"xrbs_bedroom1_battery_out","links":["85eefaf4.df8ad8"],"x":395,"y":320,"wires":[]},{"id":"e1438263.afe75","type":"link out","z":"a3492372.fb17c","name":"xrbs_bedroom1_linkquality_out","links":["61f2f3fd.93b62c"],"x":475,"y":320,"wires":[]},{"id":"d6d81370.5a0ce","type":"link out","z":"a3492372.fb17c","name":"xrb_bedroom_many_out","links":["1a669279.faf3ae"],"x":435,"y":160,"wires":[]},{"id":"86ae9562.e39078","type":"link out","z":"a3492372.fb17c","name":"xrb_bedroom_quadruple_out","links":["1a669279.faf3ae"],"x":395,"y":160,"wires":[]},{"id":"ed3a937a.ab405","type":"link out","z":"a3492372.fb17c","name":"xrb_bedroom_single_out","links":["1a669279.faf3ae"],"x":395,"y":120,"wires":[]},{"id":"e18ef914.5406f8","type":"link out","z":"a3492372.fb17c","name":"xrb_bedroom_double_out","links":["1a669279.faf3ae"],"x":435,"y":120,"wires":[]},{"id":"c35687a0.028098","type":"link out","z":"a3492372.fb17c","name":"xrb_bedroom_long_out","links":["1a669279.faf3ae"],"x":475,"y":160,"wires":[]},{"id":"e5baab8e.dfce08","type":"link out","z":"a3492372.fb17c","name":"xrb_bedroom_triple_out","links":["1a669279.faf3ae"],"x":475,"y":120,"wires":[]},{"id":"1a669279.faf3ae","type":"link in","z":"3a8efff1.55d72","name":"xrb_bedroom1_in","links":["c35687a0.028098","e18ef914.5406f8","ed3a937a.ab405","d6d81370.5a0ce","86ae9562.e39078","e5baab8e.dfce08","3721b4.958dbe4c","873ca75d.c64628","868de003.85bcb","2a34f657.e12eea","d1478afc.2c4e68","6461433e.c022ec","a376202c.fdf0a","182219bf.520ff6","d7be42d9.fc8f8","d1996c3c.3907d","428a068a.17cc88","1453d30f.6d8c6d"],"x":875,"y":80,"wires":[["9fc7d5dc.1bc2d8"]]},{"id":"85eefaf4.df8ad8","type":"link in","z":"3a8efff1.55d72","name":"xrbs_bedroom1_battery_in","links":["8f83d436.0525a8","b176caab.23ec98","f050fc7b.eb159"],"x":875,"y":140,"wires":[["bda09a43.5bf618"]]},{"id":"61f2f3fd.93b62c","type":"link in","z":"3a8efff1.55d72","name":"xrbs_bedroom1_linkquality_in","links":["7ccbe359.2298dc","29ad534b.4266dc","e1438263.afe75"],"x":875,"y":200,"wires":[["4b9d22d4.a95b7c"]]},{"id":"b176caab.23ec98","type":"link out","z":"a3492372.fb17c","name":"xsbs1_bedroom1_battery_out","links":["85eefaf4.df8ad8","c642cab5.a98da8","c915837d.7b0a3"],"x":295,"y":760,"wires":[]},{"id":"7ccbe359.2298dc","type":"link out","z":"a3492372.fb17c","name":"xsbs_bedroom1_linkquality_out","links":["61f2f3fd.93b62c","f8b53179.f41b5","a8fd8004.6f673"],"x":375,"y":760,"wires":[]},{"id":"f050fc7b.eb159","type":"link out","z":"a3492372.fb17c","name":"xsbs_bedroom2_battery_out","links":["5b36dbb6.065e54","85eefaf4.df8ad8","2df7dec4.f79892"],"x":295,"y":1040,"wires":[]},{"id":"29ad534b.4266dc","type":"link out","z":"a3492372.fb17c","name":"xsbs_bedroom2_linkquality_out","links":["1c66b47d.a9d5ec","61f2f3fd.93b62c","5891e6e0.fce1b8"],"x":375,"y":1040,"wires":[]},{"id":"3721b4.958dbe4c","type":"link out","z":"a3492372.fb17c","name":"xsb_bedroom2_single_out","links":["1a669279.faf3ae","79336090.0fd4a","54c95a4.d0405a4"],"x":295,"y":840,"wires":[]},{"id":"873ca75d.c64628","type":"link out","z":"a3492372.fb17c","name":"xsb_bedroom2_double_out","links":["1a669279.faf3ae","79336090.0fd4a","54c95a4.d0405a4"],"x":335,"y":840,"wires":[]},{"id":"868de003.85bcb","type":"link out","z":"a3492372.fb17c","name":"xsb_bedroom2_quadruple_out","links":["1a669279.faf3ae","79336090.0fd4a","54c95a4.d0405a4"],"x":295,"y":880,"wires":[]},{"id":"2a34f657.e12eea","type":"link out","z":"a3492372.fb17c","name":"xsb_bedroom2_many_out","links":["1a669279.faf3ae","79336090.0fd4a","54c95a4.d0405a4"],"x":335,"y":880,"wires":[]},{"id":"d1478afc.2c4e68","type":"link out","z":"a3492372.fb17c","name":"xsb_bedroom2_long_out","links":["1a669279.faf3ae","79336090.0fd4a","54c95a4.d0405a4"],"x":375,"y":880,"wires":[]},{"id":"6461433e.c022ec","type":"link out","z":"a3492372.fb17c","name":"xsb_bedroom2_triple_out","links":["1a669279.faf3ae","79336090.0fd4a","54c95a4.d0405a4"],"x":375,"y":840,"wires":[]},{"id":"a376202c.fdf0a","type":"link out","z":"a3492372.fb17c","name":"xsb_bedroom1_single_out","links":["1a669279.faf3ae","8201b19e.3c2c7","63e4646b.17509c"],"x":295,"y":560,"wires":[]},{"id":"182219bf.520ff6","type":"link out","z":"a3492372.fb17c","name":"xsb_bedroom1_double_out","links":["1a669279.faf3ae","8201b19e.3c2c7","63e4646b.17509c"],"x":335,"y":560,"wires":[]},{"id":"d7be42d9.fc8f8","type":"link out","z":"a3492372.fb17c","name":"xsb_bedroom1_quadruple_out","links":["1a669279.faf3ae","8201b19e.3c2c7","63e4646b.17509c"],"x":295,"y":600,"wires":[]},{"id":"d1996c3c.3907d","type":"link out","z":"a3492372.fb17c","name":"xsb_bedroom1_many_out","links":["1a669279.faf3ae","8201b19e.3c2c7","63e4646b.17509c"],"x":335,"y":600,"wires":[]},{"id":"428a068a.17cc88","type":"link out","z":"a3492372.fb17c","name":"xsb_bedroom1_long_out","links":["1a669279.faf3ae","8201b19e.3c2c7","63e4646b.17509c"],"x":375,"y":600,"wires":[]},{"id":"1453d30f.6d8c6d","type":"link out","z":"a3492372.fb17c","name":"xsb_bedroom1_triple_out","links":["1a669279.faf3ae","8201b19e.3c2c7","63e4646b.17509c"],"x":375,"y":560,"wires":[]},{"id":"63e4646b.17509c","type":"link in","z":"3a8efff1.55d72","name":"xrb_bedroom1_in","links":["182219bf.520ff6","a376202c.fdf0a","d7be42d9.fc8f8","d1996c3c.3907d","1453d30f.6d8c6d","428a068a.17cc88"],"x":875,"y":320,"wires":[["dd8f7f8.bc8fd8"]]},{"id":"c915837d.7b0a3","type":"link in","z":"3a8efff1.55d72","name":"xrbs_bedroom1_battery_in","links":["b176caab.23ec98"],"x":875,"y":380,"wires":[["93cd61ab.7d61f"]]},{"id":"a8fd8004.6f673","type":"link in","z":"3a8efff1.55d72","name":"xrbs_bedroom1_linkquality_in","links":["7ccbe359.2298dc"],"x":875,"y":440,"wires":[["8793ca33.8492b8"]]},{"id":"54c95a4.d0405a4","type":"link in","z":"3a8efff1.55d72","name":"xrbs_bedroom2_battery_in","links":["3721b4.958dbe4c","873ca75d.c64628","2a34f657.e12eea","6461433e.c022ec","868de003.85bcb","d1478afc.2c4e68"],"x":875,"y":540,"wires":[["dea9f996.100608"]]},{"id":"2df7dec4.f79892","type":"link in","z":"3a8efff1.55d72","name":"xrbs_bedroom1_battery_in","links":["f050fc7b.eb159"],"x":875,"y":600,"wires":[["6fed286e.3e8198"]]},{"id":"5891e6e0.fce1b8","type":"link in","z":"3a8efff1.55d72","name":"xrbs_bedroom2_linkquality_in","links":["29ad534b.4266dc"],"x":875,"y":660,"wires":[["19d01352.0f640d"]]},{"id":"8663afe6.84f71","type":"inject","z":"5022a6bf.9db2c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":280,"wires":[[]]},{"id":"8e5110a1.b81ce","type":"debug","z":"5022a6bf.9db2c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":240,"wires":[]},{"id":"c01b9d90.92323","type":"mqtt in","z":"5022a6bf.9db2c8","d":true,"name":"zibee2mqtt_bridge","topic":"zigbee2mqtt/bridge/config","qos":"2","datatype":"auto","broker":"dafc06f7.05ab18","x":170,"y":80,"wires":[["4b44096.f9211f8"]]},{"id":"4b44096.f9211f8","type":"function","z":"5022a6bf.9db2c8","d":true,"name":"action:press","func":"//zigbee2mqtt/bridge/config', \n//payload \n//'{\"version\":\"1.10.0\",\"commit\":\"8df6be8\",\n//\"coordinator\":\n//{\"type\":\"zStack12\",\n\n//\"meta\":\n//{\"transportrev\":2,\"product\":0,\"majorrel\":2,\n//\"minorrel\":6,\"maintrel\":3,\"revision\":20190608}}\n\n//coordinator/type\n//meta/revision\n\n\n\n\n\n\n// zigbee2mqtt\nvar msg1 = {}; // version,commit,log_level,permit_join\n//coordinator usb stick\nvar msg2 = {}; // type\nvar msg3 = {}; // down-press\nvar msg4 = {}; // off-press\nvar msg5 = {}; // counter\nvar msg6 = {}; // brightness\nvar msg7 = {}; // battery,voltage\nvar msg8 = {}; // linkquality\n\nvar zb = JSON.parse(msg.payload);\n\nvar action = zb.action;\nvar counter = zb.counter;\nvar brightness = zb.brightness;\nvar battery = zb.battery;\nvar voltage = zb.voltage;\nvar linkquality = zb.linkquality;\n\nif ( action === \"on-press\" )\n{\nmsg1.payload = { action: \"on-press\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [msg1,null,null,null,msg5,msg6,msg7,msg8];\n}\n\nelse if ( action === \"up-press\" )\n{\nmsg2.payload = { action: \"up-press\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,msg2,null,null,msg5,msg6,msg7,msg8];\n}\n\nelse if ( action === \"down-press\" )\n{\nmsg3.payload = { action: \"down-press\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,msg3,msg4,msg5,msg6,msg7,msg8];\n}\n\nelse if ( action === \"off-press\" )\n{\nmsg4.payload = { action: \"off-press\" };\nmsg5.payload = { counter: counter };\nmsg6.payload = { brightness: brightness }\nmsg7.payload = { battery, voltage };\nmsg8.payload = { linkquality: linkquality };\nreturn [null,null,null,msg4,msg5,msg6,msg7,msg8];\n}\n","outputs":8,"noerr":0,"x":450,"y":80,"wires":[[],[],[],[],[],[],[],[]]},{"id":"21ccafcb.a4548","type":"api-call-service","z":"8afe45b5.8f4f18","name":"Bedside Toggle","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bedside_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":820,"wires":[[]]},{"id":"5e9a68f8.668fc8","type":"api-call-service","z":"8afe45b5.8f4f18","d":true,"name":"update_tplink","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"update_entity","entityId":"light.master_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":400,"wires":[[]]},{"id":"4948506c.f4098","type":"api-call-service","z":"8afe45b5.8f4f18","name":"Bedroom Toggle","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":1000,"wires":[[]]},{"id":"4fb81cb1.84a784","type":"api-call-service","z":"8afe45b5.8f4f18","name":"pause","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_pause","entityId":"media_player.bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1305,"y":2160,"wires":[[]]},{"id":"6cb6a6d5.211c18","type":"api-call-service","z":"8afe45b5.8f4f18","name":"play","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_play","entityId":"media_player.bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1305,"y":2010,"wires":[[]]},{"id":"ef88c799.1d4ff8","type":"ha-entity","z":"a83b195e.5fb468","name":"Hue Remote Press Count","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"hue_press_count"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"count","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":930,"y":2160,"wires":[[]]},{"id":"213e8744.e010c8","type":"ha-entity","z":"a83b195e.5fb468","name":"reset_counter","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"reset_counter"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":880,"y":2480,"wires":[[]]},{"id":"51cf5f3f.a122","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xds_bedroom","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"xds_bedroom"},{"property":"device_class","value":"door"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.contact","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":560,"y":100,"wires":[[]]},{"id":"c8c21170.9f20b","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xds_stats_bedroom_battery","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xds_stats_bedroom_battery"},{"property":"device_class","value":"battery"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"%"}],"state":"payload.battery","stateType":"msg","attributes":[{"property":"voltage","value":"payload.voltage","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":600,"y":160,"wires":[[]]},{"id":"5cde378c.498ca8","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xds_stats_bedroom_linkquality","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xds_stats_bedroom_linkquality"},{"property":"device_class","value":"signal_strength"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"-"}],"state":"payload.linkquality","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":610,"y":220,"wires":[[]]},{"id":"ce0216b4.6ef288","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xms_bedroom","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"xms_bedroom"},{"property":"device_class","value":"occupancy"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.occupancy","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":520,"y":580,"wires":[[]]},{"id":"1ef2fd19.3e37f3","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xms_stats_bedroom_battery","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xms_stats_bedroom_battery"},{"property":"device_class","value":"battery"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"%"}],"state":"payload.battery","stateType":"msg","attributes":[{"property":"voltage","value":"payload.voltage","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":560,"y":700,"wires":[[]]},{"id":"d6dc7bc.2d1b088","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xms_stats_bedroom_linkquality","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xms_stats_bedroom_linkquality"},{"property":"device_class","value":"signal_strength"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"-"}],"state":"payload.linkquality","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":570,"y":760,"wires":[[]]},{"id":"a2380163.ac2c1","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xvs_washingmachine","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xvs_washingmachine"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.action","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":540,"y":900,"wires":[[]]},{"id":"6016f19f.26aa9","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xvs_stats_washingmachine_battery","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xvs_stats_washingmachine_battery"},{"property":"device_class","value":"battery"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"%"}],"state":"payload.battery","stateType":"msg","attributes":[{"property":"voltage","value":"payload.voltage","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":580,"y":1080,"wires":[[]]},{"id":"1617e1a9.5cc8ce","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xvs_stats_washingmachine_linkquality","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xvs_stats_washingmachine_linkquality"},{"property":"device_class","value":"signal_strength"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"-"}],"state":"payload.linkquality","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":590,"y":1140,"wires":[[]]},{"id":"c6ddcb61.f2e2d8","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xts_bedroom_temp","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xts_bedroom_temp"},{"property":"device_class","value":"temperature"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.temperature","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":530,"y":1260,"wires":[[]]},{"id":"87898caf.0012d","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xts_stats_bedroom_battery","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xts_stats_bedroom_battery"},{"property":"device_class","value":"battery"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"%"}],"state":"payload.battery","stateType":"msg","attributes":[{"property":"voltage","value":"payload.voltage","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":560,"y":1440,"wires":[[]]},{"id":"84fbe98b.da21a8","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xts_stats_bedroom_linkquality","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xts_stats_bedroom_linkquality"},{"property":"device_class","value":"signal_strength"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"-"}],"state":"payload.linkquality","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":570,"y":1500,"wires":[[]]},{"id":"19c3606.db093a","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xms_stats_bedroom_light_level","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xms_stats_bedroom_light_level"},{"property":"device_class","value":"illuminance"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.illuminance","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":570,"y":640,"wires":[[]]},{"id":"e53608c0.bdf5e8","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xts_bedroom_humidity","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xts_bedroom_humidity"},{"property":"device_class","value":"humidity"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.humidity","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":540,"y":1320,"wires":[[]]},{"id":"bc61a0b1.db769","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xts_bedroom_pressure","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xts_bedroom_pressure"},{"property":"device_class","value":"pressure"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.pressure","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":540,"y":1380,"wires":[[]]},{"id":"67e0f47e.07001c","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xvs_stats_washingmachine_sensitivity","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xvs_stats_washingmachine_sensitivity"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.sensitivity","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":590,"y":960,"wires":[[]]},{"id":"ed293e6d.62e5b","type":"ha-entity","z":"3a8efff1.55d72","name":"hrs_master_bedroom_counter","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":""},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.counter","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":370,"y":140,"wires":[[]]},{"id":"c5830c9e.cf849","type":"ha-entity","z":"3a8efff1.55d72","name":"hrs_master_bedroom_brightness","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":""},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.brightness","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":380,"y":200,"wires":[[]]},{"id":"8bde641.26c3b98","type":"ha-entity","z":"3a8efff1.55d72","name":"hrs_master_bedroom_linkquality","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"hue_remote_stats_master_bedroom_linkquality"},{"property":"device_class","value":"signal_strength"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"-"}],"state":"payload.linkquality","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":370,"y":320,"wires":[[]]},{"id":"71f1e37a.2cec8c","type":"ha-entity","z":"3a8efff1.55d72","name":"hrs_master_bedroom_battery","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"hue_remote_stats_master_bedroom_battery"},{"property":"device_class","value":"battery"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"%"}],"state":"payload.battery","stateType":"msg","attributes":[{"property":"voltage","value":"payload.voltage","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":370,"y":260,"wires":[[]]},{"id":"3ebcaf6.4bfb15","type":"ha-entity","z":"3a8efff1.55d72","name":"hr_master_bedroom","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"hue_remote_master_bedroom"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:gesture-double-tap"},{"property":"unit_of_measurement","value":""}],"state":"payload.action","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":340,"y":80,"wires":[[]]},{"id":"9fc7d5dc.1bc2d8","type":"ha-entity","z":"3a8efff1.55d72","name":"xrb_bedroom1","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xrb_bedroom1"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:toggle-switch"},{"property":"unit_of_measurement","value":""}],"state":"payload.click","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1000,"y":80,"wires":[[]]},{"id":"bda09a43.5bf618","type":"ha-entity","z":"3a8efff1.55d72","name":"xrbs_bedroom_battery","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xrb_stats_bedroom_battery"},{"property":"device_class","value":"battery"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"%"}],"state":"payload.battery","stateType":"msg","attributes":[{"property":"voltage","value":"payload.voltage","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1020,"y":140,"wires":[[]]},{"id":"4b9d22d4.a95b7c","type":"ha-entity","z":"3a8efff1.55d72","name":"xrbs_bedroom_linkquality","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xrb_stats_bedroom_linkquality"},{"property":"device_class","value":"signal_strength"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"-"}],"state":"payload.linkquality","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1030,"y":200,"wires":[[]]},{"id":"dd8f7f8.bc8fd8","type":"ha-entity","z":"3a8efff1.55d72","name":"xsb_bedroom1","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xsb_bedroom1"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:toggle-switch"},{"property":"unit_of_measurement","value":""}],"state":"payload.click","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1000,"y":320,"wires":[[]]},{"id":"93cd61ab.7d61f","type":"ha-entity","z":"3a8efff1.55d72","name":"xsbs_bedroom1_battery","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xsb_stats_bedroom1_battery"},{"property":"device_class","value":"battery"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"%"}],"state":"payload.battery","stateType":"msg","attributes":[{"property":"voltage","value":"payload.voltage","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1030,"y":380,"wires":[[]]},{"id":"8793ca33.8492b8","type":"ha-entity","z":"3a8efff1.55d72","name":"xsbs_bedroom1_linkquality","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xsb_stats_bedroom1_linkquality"},{"property":"device_class","value":"signal_strength"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"-"}],"state":"payload.linkquality","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1040,"y":440,"wires":[[]]},{"id":"dea9f996.100608","type":"ha-entity","z":"3a8efff1.55d72","name":"xsb_bedroom2","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xsb_bedroom2"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:toggle-switch"},{"property":"unit_of_measurement","value":""}],"state":"payload.click","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1000,"y":540,"wires":[[]]},{"id":"6fed286e.3e8198","type":"ha-entity","z":"3a8efff1.55d72","name":"xsbs_bedroom2_battery","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xsb_stats_bedroom2_battery"},{"property":"device_class","value":"battery"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"%"}],"state":"payload.battery","stateType":"msg","attributes":[{"property":"voltage","value":"payload.voltage","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1030,"y":600,"wires":[[]]},{"id":"19d01352.0f640d","type":"ha-entity","z":"3a8efff1.55d72","name":"xsbs_bedroom2_linkquality","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xsb_stats_bedroom2_linkquality"},{"property":"device_class","value":"signal_strength"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"-"}],"state":"payload.linkquality","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1040,"y":660,"wires":[[]]},{"id":"67e02624.526bd8","type":"ha-entity","z":"6afdb4c3.b4193c","name":"xvs_stats_washingmachine_strength","server":"9dde8dc7.8b51a","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"xvs_stats_washingmachine_strength"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.strength","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":590,"y":1020,"wires":[[]]},{"id":"43fa2e7c.504de","type":"api-current-state","z":"8afe45b5.8f4f18","name":"kodi check","server":"9dde8dc7.8b51a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":2060,"wires":[["abcdc6ac.758888"]]},{"id":"5d618cf3.99cbd4","type":"api-current-state","z":"8afe45b5.8f4f18","name":"playing","server":"9dde8dc7.8b51a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bedside","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":965,"y":2010,"wires":[["dd7723b9.c6301"]]},{"id":"1a179a09.fe5816","type":"api-current-state","z":"8afe45b5.8f4f18","name":"paused","server":"9dde8dc7.8b51a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bedside","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":965,"y":2160,"wires":[["dd7723b9.c6301"]]},{"id":"3c30f6f7.51566a","type":"api-current-state","z":"8afe45b5.8f4f18","name":"","server":"9dde8dc7.8b51a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.select_kodi","state_type":"str","state_location":"player","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":true,"x":830,"y":1680,"wires":[["9494af22.6b527"]]},{"id":"e91c2d9e.8d88c","type":"bigtimer","z":"6afdb4c3.b4193c","outtopic":"","outpayload1":"","outpayload2":"","name":"Door Times","comment":"times for master_bedroom light","lat":"52.961253","lon":"-1.200791","starttime":"540","endtime":"1035","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":115,"y":1970,"wires":[[],["8fafb0c4.e7a13","dc4d321e.a9299"],[]]},{"id":"94f65484.20d428","type":"counter","z":"a83b195e.5fb468","name":"Hue Counter","init":"0","step":1,"lower":"0","upper":"6","mode":"increment","outputs":1,"x":890,"y":2240,"wires":[["cc76858a.e188c8","ef88c799.1d4ff8"]]},{"id":"f59cc910.f780e8","type":"counter","z":"a83b195e.5fb468","name":"","init":"0","step":1,"lower":null,"upper":null,"mode":"increment","outputs":"1","x":575,"y":4043.333251953125,"wires":[["39669e16.1df602"]]},{"id":"ddcd5979.721b68","type":"kodi-out","z":"8afe45b5.8f4f18","name":"BedroomShield","controller":"98a9c589.5fbce8","unit_number":"1","output":"1","kodicommand":"","x":1220,"y":1640,"wires":[]},{"id":"1934c863.b16358","type":"mytimeout","z":"a83b195e.5fb468","name":"Reset Counter","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"0","timer":"30","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":880,"y":2420,"wires":[[],["213e8744.e010c8"]]}]